.questions {
    background-color: #56323f;

    &__container {
        padding-top: 39px;
        padding-bottom: 32px;
        @media (max-width: 576px) {
            padding-top: 28px;
        }
    }

    &__title {
        margin-bottom: 15px;
        @media (max-width: 576px) {
            margin-bottom: 12px;
            font-size: 18px;
            line-height: 22px;
            max-width: 264px;
        }
    }

    &__subtitle {
        margin: 0;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 17px;
        @media (max-width: 576px) {
            font-size: 14px;
            line-height: 18px;
            max-width: 264px;
            margin: 0 auto 17px;
        }
    }

    &-social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 32px;
                @media (max-width: 1024px) {
                    margin-right: 15px;
                }
            }
        }

        &__link {
            display: block;
            width: 56px;
            height: 56px;
            opacity: 0.7;
            transition: opacity 0.3s;

            @media (max-width: 1024px) {
                width: 42px;
                height: 42px;
                opacity: 1;
            }

            @media (min-width: 1025px) {
                &:hover {
                    opacity: 1;
                    svg {
                        fill: #fff;
                    }
                }
            }

            svg {
                transition: fill 0.3s;
                fill: rgba(#fff, 0.5);

                @media (max-width: 1024px) {
                    fill: #fff;
                }
            }
        }
    }

    &__desc {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 576px) {
            text-transform: initial;
            font-size: 13px;
            line-height: 17px;
        }

        span {
            font-weight: 600;
        }
    }
}