@mixin pseudo {
    content: "";
    display: inline-block;
}
@mixin font-face($font-family, $url, $weight) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('../fonts/#{$url}.woff2') format('woff2'),
        url('../fonts/#{$url}.woff') format('woff');
        font-weight: #{$weight};
        font-display: swap;
        font-style: normal;
    }
}

@mixin hover {
    @media (min-width: 1025px) {
        &:hover {
            @content;
        }
    }
}

@mixin hoverOnCard {
    @include hover {
        &:before {
            opacity: 1;
            visibility: visible;
        }
        img {
            transform: scale(1.08, 1.08);
        }
    }
    
    &:before {
        @include pseudo();
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        transition: opacity 0.4s, visibility 0.4s;
        background: rgba(#111, 0.02);
    }
}