section.post
    .container.post__container
        ul.g-breadcrumbs__list.post__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="news.html") Новости
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link «Русские самоцветы» представили сервиз для водки FIREWATER
        article.post-content
            time.post-item__time.post-content__time(datatime="2021-07-20") 20.07.2021
            h1.g-title.post-content__title «Русские самоцветы» представили сервиз для водки FIREWATER
            p.g-title.post-content__desc Неоспоримым плюсом такого именного украшения является его долговечность и&nbsp;эстетичность, а&nbsp;также возможность нанесения надписи или изображения на&nbsp;изделия любой конфигурации.
            p.post-content__txt Работа выполняется профессионалами качественно, аккуратно и в кратчайшие сроки, что позволяет сделать ценный подарок еще более уникальным, а момент его дарения - поистине особенным. Мы можем выполнить нанесение как текста поздравления или инициалы имени, так и логотипы Вашей организации любой сложности. Дизайнеры помогут разместить гравировку на изделии наиболее лаконично и аккуратно.
            .post-slider__wrapper
                .swiper.post-slider
                    .swiper-wrapper
                        .swiper-slide.post-slide
                            img.post-slide__image(src="img/no-image.svg", alt="Картинка новости")
                        .swiper-slide.post-slide
                            img.post-slide__image(src="img/no-image.svg", alt="Картинка новости")
                        .swiper-slide.post-slide
                            img.post-slide__image(src="img/no-image.svg", alt="Картинка новости")
                button.btn-reset.g-slider-btn.g-slider-btn--prev.post-slider__btn.post-slider__btn--prev
                    +icon("arrow")
                button.btn-reset.g-slider-btn.g-slider-btn--next.post-slider__btn.post-slider__btn--next
                    +icon("arrow")
            h2.post-slider__caption Приток развития и современное переосмысление наследия старейшего в Петербург
            .post-content__txt
                p RS IMPERIAL JEWELRY HOUSE – новый виток развития и современное переосмысление наследия старейшего в Петербурге Императорского ювелирного дома «Русские самоцветы».
                p В витринах бутика представлены уникальные произведения ювелирного искусства класса премиум, созданные вручную на собственном производстве «Русских самоцветов». Каждое изделие RS IMPERIAL JEWELRY HOUSE сочетает в себе легендарные техники, новаторство, ручную работу мастеров и хранит многовековые традиции петербургской ювелирной школы. Украшения High и Fine Jewelry, инкрустированные бриллиантами, сапфирами, изумрудами, рубинами и другими драгоценными камнями, созданы вручную и выполнены в искусных ювелирных техниках. Наборы столового серебра RS IMPERIAL JEWELRY HOUSE отличают непревзойденная эстетика и эргономичность – предметы сервировки стола были созданы на основе дизайна изделий, которые выпускались на рубеже XIX-ХХ веков для двора его императорского величества.
                p Приборы из набора «Классический» отличаются утонченным великолепием и имеют особое овальное окошко, на которое наносится герб, логотип компании или монограмма персоны.