if page === "discount"
    section.discounts
        .container.discounts__container.discounts__container--2
            h2.g-title.g-title--center.discounts__title Другие акции
            ul.discounts__list.list-reset
                - for(let i = 0; i < 6; i++)
                    li.discounts-item
                        a.discounts-item__image(href="discount.html") 
                            img.lozad(src="img/discount-1.jpg" srcset="img/discount-1@2x.jpg", alt="Скидка 10% ко дню рождения")
                        span.g-title.discounts-item__dates с 01.08.2020 до 31.12.2020
                        a.g-title.discounts-item__title(href="discount.html") Скидка 10% ко дню рождения
            button.btn-reset.g-btn.g-btn--stroke.g-btn--center.discounts__btn Все акции
else if page === "discounts"

    section.discounts
        .container.discounts__container
            ul.g-breadcrumbs__list.discounts__breadcrumbs.list-reset
                li.g-breadcrumbs__item
                    a.g-breadcrumbs__link(href="/") Главная
                li.g-breadcrumbs__item
                    a.g-breadcrumbs__link Акции
            h1.g-title.g-title--center.discounts__title Акции
            ul.discounts__list.list-reset
                - for(let i = 0; i < 6; i++)
                    li.discounts-item
                        a.discounts-item__image(href="discount.html") 
                            img.lozad(src="img/discount-1.jpg" srcset="img/discount-1@2x.jpg", alt="Скидка 10% ко дню рождения")
                        span.g-title.discounts-item__dates с 01.08.2020 до 31.12.2020
                        a.g-title.discounts-item__title(href="discount.html") Скидка 10% ко дню рождения
            button.btn-reset.g-btn.g-btn--stroke.g-btn--center.discounts__btn Все акции