section.ordering
    .container.ordering__container.cart__container
        ul.g-breadcrumbs__list.ordering__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link Корзина
        h1.g-title.g-title--center.ordering__title.cart__title В КОРЗИНЕ 5 ПОЗИЦИЙ
        .ordering__body
            .ordering-content
     
                .ordering-content__item.g-accordion.isOpen(id="order-list")
                    .g-accordion__content.ordering-content__inner(aria-hidden="false")
                        .cart-table__top
                            span.cart-table__name НАИМЕНОВАНИЕ
                            span.cart-table__size РАЗМЕР
                            span.cart-table__quantity КОЛИЧЕСТВО
                            span.cart-table__price ЦЕНА
                            span.cart-table__total СУММА
                        .cart-table__items
                            -for(let i = 0; i < 5; i++)
                                .cart-product.cart-table__item
                                    .cart-product__wrapper
                                        img.cart-product__image.lozad(src="img/card-2.jpg", srcset="img/card-2@2x.jpg 2x" alt="Ложка из столового серебра")
                                        .cart-product__right
                                            .cart-product__text
                                                .cart-product__left
                                                    h2.cart-product__title Ложка из столового серебра
                                                    span.cart-product__vendor
                                                        |Артикул: 
                                                        span 92092
                                                .cart-product__specifications
                                                    span.cart-product__size 16.5
                                                    span.cart-product__quantity
                                                        .g-stepper
                                                            .g-stepper__wrapper
                                                                label.g-stepper__field
                                                                    input.g-stepper__input(type="text" value="1" maxlength="3")
                                                                .g-stepper__btns
                                                                    button.btn-reset.g-stepper__btn.g-stepper__btn--down.g-stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                                                        +icon("arrow-left")
                                                                    button.btn-reset.g-stepper__btn.g-stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                                                        +icon("arrow-right")
                                                    span.cart-product__price 3 000 ₽
                                                    span.cart-product__total 18 000 ₽
                                            .cart-product__bottom.read-more-wrapper
                                                .cart-product-features.full-text
                                                    .card-features__row
                                                        span.card-features__title Вес изделия: 
                                                        span.card-features__value 3,37 г
                                                    .card-features__row
                                                        span.card-features__title Материал: 
                                                        span.card-features__value Белое золото, 585 пробы
                                                    .card-features__row
                                                        span.card-features__title Вставка:
                                                        span.card-features__value
                                                            ul.card-features-list.list-reset
                                                                li.card-features-list__item
                                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="5" cy="5" r="5" fill="#11C849"/>
                                                                    </svg>
                                                                    span Турмалин — 1, огранка «Октагон», 0.16 crt.
                                                                li.card-features-list__item
                                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="5" cy="5" r="5" fill="#FBE151"/>
                                                                    </svg>
                                                                    span Цинтрин — 1, огранка «Октагон», 0.16 crt.
                                                                li.card-features-list__item
                                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="5" cy="5" r="5" fill="#FB4861"/>
                                                                    </svg>
                                                                    span Рубин — 1, огранка «Октагон», 0.16 crt.
                                                                li.card-features-list__item
                                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="5" cy="5" r="5" fill="#6C80C9"/>
                                                                    </svg>
                                                                    span Сапфир — 1, огранка «Октагон», 0.16 crt.
                                                                li.card-features-list__item
                                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="5" cy="5" r="5" fill="#A3D9F8"/>
                                                                    </svg>
                                                                    span Топаз — 1, огранка «Октагон», 0.16 crt.
                                                                li.card-features-list__item
                                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="5" cy="5" r="5" fill="#000000"/>
                                                                    </svg>
                                                                    span Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.

                                                    .card-features__row
                                                        span.card-features__title Объем:
                                                        span.card-features__value 00 мл
                                                    .card-features__row
                                                        span.card-features__title Длина:
                                                        span.card-features__value 00 мл
                                                    .card-features__row
                                                        span.card-features__title Ширина :
                                                        span.card-features__value 15,05 мм
                                                    .card-features__row
                                                        span.card-features__title Высота:
                                                        span.card-features__value 00 мм
                                                    .card-features__row
                                                        span.card-features__title Технологии:
                                                        span.card-features__value Хххххххххххххххххххххххх
                                                button.btn-reset.cart-product__more.read-more(type="button" data-text="Посмотреть характеристики") Посмотреть характеристики
                                    .cart-product-info
                                        .cart-product-info__item
                                            .cart-product-info__caption Размер:
                                            .cart-product-info__value 16.6
                                        .cart-product-info__item
                                            .cart-product-info__caption Кол-во:
                                            .cart-product-info__value
                                                .g-stepper
                                                    .g-stepper__wrapper
                                                        label.g-stepper__field
                                                            input.g-stepper__input(type="text" value="1" maxlength="3")
                                                        .g-stepper__btns
                                                            button.btn-reset.g-stepper__btn.g-stepper__btn--down.g-stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                                                +icon("arrow-left")
                                                            button.btn-reset.g-stepper__btn.g-stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                                                +icon("arrow-right")
                                        .cart-product-info__item
                                            .cart-product-info__caption Цена:
                                            .cart-product-info__value.cart-product-info__value--bold 77 975 ₽
                                        .cart-product-info__item
                                            .cart-product-info__caption Сумма:
                                            .cart-product-info__value.cart-product-info__value--bolder 77 975 ₽
                                    button.btn-reset.cart-product__remove.modal-btn(data-graph-animation="fadeInUp" data-graph-path="delete-product" data-graph-speed="500" type="button")
                                        +icon("cross2")

            .ordering-info
                .ordering-info__top
                    h2.ordering-info__title.g-title ВАШ ЗАКАЗ
                    span.ordering-info__quantity.g-title ТОВАРОВ 4
                .ordering-info__cost
                    span.ordering-info__cost-desc ОБЩАЯ СТОИМОСТЬ
                    span.ordering-info__cost-value 424 200 ₽
                label.ordering__label
                    span Промокод
                    input.g-input.ordering__input--lg.valid(type="text" name="промокод" placeholder="ВВЕДИТЕ ПРОМОКОД")
                .ordering-info__promocode
                    span.ordering-info__promocode-desc СКИДКА ПО ПРОМОКОДУ
                        span -00%
                    span.ordering-info__promocode-value 5 970 ₽
                .ordering-info__total
                    span ИТОГО
                    span 417 000 ₽
                .ordering-info__btns 
                    a.g-btn.g-btn--black.ordering-info__btn(href="new-ordering.html") ОФОРМИТЬ ЗАКАЗ
                p.ordering-info__desc.ordering-info__desc--center Оформляя заказ, вы подтверждаете, что соглашаетесь с&nbsp;<a href="policy.html">правилами продажи</a>