section.not-found
    .container.not-found__container
        h1.g-title.not-found__title ошибка 404
        h2.g-title.g-title--center.not-found__subtitle К сожалению запрашиваемая Вами страница ненайдена...
        a.not-found__link.g-btn.g-btn--black.not-found(href="/") вернуться на главную
        .not-found__desc Если у вас есть срочный вопрос, звоните нам по бесплатному телефону
        a.not-found__tel(href="tel:88005553298") 8 (800) 555-32-98