section.package-gift
    .container.package-gift__container
        h2.g-title.g-title--center.package-gift__center.package-gift__title ФИРМЕННАЯ УПАКОВКА от “РУССКИХ&nbsp;САМОЦВЕТОВ” В ПОДАРОК
        img.package-gift__image(src="img/no-image.svg", alt="ФИРМЕННАЯ УПАКОВКА от “РУССКИХ САМОЦВЕТОВ” В ПОДАРОК")
        p.package-gift__desc доставка по России осуществляется транспортной компанией СДЭК