.cart-product {
    position: relative;
    padding: 23.5px 0;
    border-bottom: 1px solid rgba(#000, 0.2);

    @media (max-width: 576px) {
        padding: 23.5px 0 10px;
    }

    .g-stepper {
        display: flex;
        justify-content: center;
        &__wrapper {
            width: 51px;
            height: 20px;
        }

        &__btn {
            width: 8px;
            height: 14px;
        }

        &__input {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__right {
        padding-top: 21px;
        width: 100%;

        @media (max-width: 1280px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-top: 0;
        }
    }

    &__image {
        display: block;
        min-width: 120px;
        height: 120px;
        object-fit: cover;
        margin-right: 36px;

        @media (max-width: 576px) {
            min-width: 100px;
            margin-right: 17px;
            height: 100px;
        }
    }

    &__text {
        display: flex;

        @media (max-width: 1280px) {
            display: block;
        }
    }

    &__left {
        flex: 0 0 vw(229);
        @media (min-width: 1441px) {
            flex: 0 0 229px;
        }
    }

    &__title {
        margin: 0;
        color: #111;
        font-weight: 300;
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 10px;

        @media (max-width: 1280px) {
            padding-right: 30px;
        }

        @media (max-width: 576px) {
            font-size: 14px;
        }
    }

    &__vendor {
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: #111;

        @media (max-width: 576px) {
            margin-bottom: 9px;
        }

        span {
            color: rgba(#000, 0.5);
        }
    }

    &__size {
        display: block;
        font-size: 16px;
        line-height: 19px;
        min-width: 23px;
        flex: 0 0 vw(109);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 109px;
        }
    }

    &__quantity {
        display: block;
        font-size: 14px;
        line-height: 19px;
        flex: 0 0 vw(147);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 147px;
        }
    }

    &__price {
        display: block;
        font-size: 16px;
        line-height: 12px;
        color: #000;
        font-weight: 400;
        flex: 0 0 vw(119);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 119px;
        }
    }

    &__total {
        font-size: 16px;
        line-height: 12px;
        font-weight: 400;
        flex: 0 0 vw(114);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 114px;
        }
    }

    &__bottom {
        width: 100%;
    }

    &-features {
        display: none;
        margin: 5px 0 8px;

        .card-features-list__item {
            display: flex;

            svg {
                margin-top: 3px;
            }
        }

        @media (max-width: 576px) {
            .card-features {

                &-list {
                    &__item {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }

                &__row {
                    flex-wrap: wrap;

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }

                &__title {
                    min-width: auto;
                    margin-right: 3px;
                    margin-bottom: 4px;
                }

                &__value {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        &.active {
            display: block;
        }
    }

    &__more {
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        color: #111;
        text-decoration: underline;

        @media (max-width: 576px) {
            font-size: 13px;
            line-height: 13px;
        }

        @include hover {
            text-decoration: none;
        }
    }
    
    &__specifications {
        display: flex;
        padding-top: 32px;
        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__remove {
        display: block;
        position: absolute;
        top: 68px;
        right: 0;
        width: 24px;
        height: 24px;

        @media (max-width: 1280px) {
            top: 23.5px;
        }
    }

    &-info {
        display: none;
        flex-wrap: wrap;

        @media (max-width: 1280px) {
            display: flex;
        }

        @media (max-width: 768px) {
            justify-content: space-between;
        }

        &__item {
            display: flex;
            align-items: flex-end;
            margin-top: 15px;
            @media (max-width: 576px) {
                &:first-child {
                    padding-right: 10px;
                }
            }
            &:not(:last-child) {
                margin-right: 60px;

                @media (max-width: 768px) {
                    margin-right: 0;
                }
            }

            &:last-child {
                @media (max-width: 768px) {
                    justify-content: flex-end;
                    width: 100%;
                }
            }
        }

        &__caption {
            display: block;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            margin-right: 3px;
            color: rgba(#000, 0.5);
        }

        &__value {
            font-size: 14px;
            line-height: 16px;

            &--bold {
                font-weight: 500;
            }

            &--bolder {
                font-size: 20px;
                line-height: 18px;
                font-weight: 500;
            }
        }
    }

    &__link {
        display: inline-flex;
        font-size: 16px;
        font-weight: 300;
        line-height: 17px;
        color: #111;
        text-decoration: underline;
        flex: 0 0 vw(291);
        text-align: left;
        @media (min-width: 1441px) {
            flex: 0 0 291px;
        }

        @media (max-width: 1024px) {
            flex: 0 0 100%;
        }

        @media (max-width: 576px) {
            text-decoration: none;
            font-size: 18px;
            line-height: 24px;
        }

        @include hover {
            text-decoration: none;
        }
    }

    &__status {
        font-size: 16px;
        line-height: 17px;
        color: #111;
        flex: 0 0 vw(120);
        @media (min-width: 1441px) {
            flex: 0 0 120px;
        }
    }

    &__cancel {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        font-weight: 300;
        line-height: 17px;
        color: #111;
        text-decoration: underline;

        @media (max-width: 1280px) {
            top: 59px;
            transform: translateY(0);
        }

        @media (max-width: 768px) {
            top: 24px;
        }

        @media (max-width: 576px) {
            top: 19px;
            font-size: 13px;
            line-height: 17px;
            font-weight: 400;
        }

        @include hover {
            text-decoration: none;
        } 
    }
}

.cart-table {
    &__top {
        display: flex;
        padding-bottom: 2.5px;
        padding-left: 156px;
        border-bottom: 1px solid rgba(#000, 0.2);
        margin-top: -24px;

        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__items {
        margin-bottom: 55.5px;

        @media (max-width: 1280px) {
            margin-top: -30px;
        }
    }

    &__name {
        flex: 0 0 vw(229);
        @media (min-width: 1441px) {
            flex: 0 0 229px;
        }
    }

    &__size {
        flex: 0 0 vw(109);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 109px;
        }
    }

    &__quantity {
        flex: 0 0 vw(147);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 147px;
        }
    }

    &__price {
        flex: 0 0 vw(119);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 119px;
        }
    }

    &__total {
        flex: 0 0 vw(114);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 114px;
        }
    }

    &__number {
        flex: 0 0 vw(291);
        text-align: left;
        @media (min-width: 1441px) {
            flex: 0 0 291px;
        }
    }

    &__status {
        flex: 0 0 vw(103);
        text-align: center;
        @media (min-width: 1441px) {
            flex: 0 0 103px;
        }
    }

    &__more {
        display: block;
        margin: 0 auto;
    }
}