.cart-product {
    display: flex;
    align-items: center;
    padding: 23.5px 0;
    border-bottom: 1px solid rgba(#000, 0.2);
    &__image {
        display: block;
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-right: 36px;
    }

    &__text {
        margin-right: 101px;
    }

    &__title {
        margin: 0;
        color: #111;
        font-weight: 300;
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 7px;
    }

    &__vendor {
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: #111;
        margin-bottom: 3px;

        span {
            color: rgba(#000, 0.5);
        }
    }

    &__link {
        font-size: 16px;
        line-height: 23px;
        color: rgba(#000, 0.5);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__size {
        display: block;
        margin-right: 117px;
        font-size: 16px;
        line-height: 19px;
    }

    &__quantity {
        display: block;
        margin-right: 99px;
        font-size: 14px;
        line-height: 19px;
    }

    &__price {
        display: block;
        margin-right: 69px;
        font-size: 16px;
        line-height: 12px;
        color: #000;
        font-weight: 400;
    }

    &__total {
        font-size: 16px;
        line-height: 12px;
        font-weight: 400;
    }
}