.nav {
    font-family: "HeliosExt", sans-serif;
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        margin-right: 24px;
        &--sep {
            padding-right: 22px;
            margin-right: 20px;
            border-right: 1px solid #000;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-transform: uppercase;
        color: #111;
        font-size: 14px;
        line-height: 20px;

        &--gray {
            color: rgba(#000, 0.5);
        }

        svg {
            display: block;
            width: 24px;
            height: 24px;
        }
    }
}