.search-form {
    position: relative;
    &__form {
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(100% + 20px);
        right: 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 14px 18px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__input {
        outline: none;
        width: 360px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        border: none;
        border-bottom: 1px solid rgba(#000, 0.5);
        font-family: "TTCommons", sans-serif;
        padding: 0;
        border-radius: 0;

        &:not(:last-child) {
            margin-right: 7px;
        }
        
        &::placeholder {
            color: #a39d94;
        }
    }

    &__btn {
        @media (min-width: 1025px) {
            &:hover {
                svg {
                    fill: #111;
                }
            }
        }
        svg {
            display: block;
            width: 24px;
            height: 24px;
            transition: fill 0.3s;
            fill: transparent;
            pointer-events: none;
        }
    }
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}