header.header 
    .container.header__container
        .header__top
            a.header__location(href="#")
                +icon("location")
                |САНКТ-ПЕТЕРБУРГ
            ul.header-menu.list-reset
                li.header-menu__item
                    a.header-menu__link(href="#") Императорский ювелирный дом
                li.header-menu__item
                    a.header-menu__link(href="#") ДОСТАВКА И ОПЛАТА
                li.header-menu__item
                    a.header-menu__link(href="#") МАГАЗИНЫ
        .header__middle
            ul.header-actions.list-reset
                li.header-actions__item
                    a.header-actions__link(href="tel:88005553298")
                        +icon("tel")
                li.header-actions__item
                    a.header-actions__link(href="#")
                        +icon("location")
            .tell.header__tell
                a.tell__value(href="tel:88005553298") 8 (800) 555-32-98
                span.tell__desc Пн-Пт 10:00-20:00, Сб, Вс до 17:00
            a.logo.header__logo(href="/")
                img(src="img/logo.png", alt="Russkiye samotsvety")
            +burger
            ul.header__shop-nav.shop-nav.list-reset
                li.shop-nav__item
                    a.shop-nav__link.shop-nav__link--favorite(href="#")
                        span.shop-nav__icon.shop-nav__icon--favorite
                        span.shop-nav__quantity 2
                li.shop-nav__item
                    a.shop-nav__link.shop-nav__link--cart(href="#")
                        span.shop-nav__icon.shop-nav__icon--cart
                        span.shop-nav__quantity 13
                li.shop-nav__item
                    a.shop-nav__link.shop-nav__link--cabinet(href="#")
                        span.shop-nav__icon.shop-nav__icon--cabinet
                        span.shop-nav__quantity Войти
        .header__bottom
            nav.nav
                ul.nav__list.list-reset
                    li.nav__item
                        a.nav__link(href="#") УКРАШЕНИЯ
                    li.nav__item
                        a.nav__link(href="#") ДОМ&АКСЕССУАРЫ
                    li.nav__item
                        a.nav__link(href="#") ПОМОЛОВКА
                    li.nav__item
                        a.nav__link(href="#") ВЫСОКОЕ ЮВЕЛИРНОЕ ИСКУССТВО
                    li.nav__item
                        a.nav__link.nav__link--gray(href="#") КОЛЛЕКЦИЯ
                    li.nav__item
                        a.nav__link.nav__link--gray(href="#") АКЦИИ
                ul.header-menu.nav__header-menu.list-reset
                    li.header-menu__item
                        a.header-menu__link(href="#") Императорский ювелирный дом
                    li.header-menu__item
                        a.header-menu__link(href="#") ДОСТАВКА И ОПЛАТА
                    li.header-menu__item
                        a.header-menu__link(href="#") МАГАЗИНЫ
            .search-form.header__search-form
                button.btn-reset.search-form__btn.open-form
                    +icon("search-icon")
                form.search-form__form(action="#")
                    input.search-form__input(type="search", name="s" placeholder="НАЙТИ...")
    .down-bar
        .down-bar__item.search-form
            button.btn-reset.search-form__btn.open-form.down-bar__link
                +icon("search-icon")
                |Поиск
            form.down-bar__form.search-form__form(action="#")
                input.search-form__input(type="search", name="s" placeholder="НАЙТИ...")
                button.btn-reset.search-form__btn
                    +icon("search-icon")
        .down-bar__item
            a.down-bar__link(href="#")
                span.shop-nav__icon.shop-nav__icon--favorite
                |Избранное
        .down-bar__item
            a.down-bar__link(href="#")
                span.shop-nav__icon.shop-nav__icon--cart
                |Корзина
        .down-bar__item
            a.down-bar__link(href="#")
                span.shop-nav__icon.shop-nav__icon--cabinet
                |Вход
    .overlay
        //button.btn-reset.modal-btn(data-graph-animation="custom" data-graph-path="first" data-graph-speed="500") Открыть окно