section.delivery-section
    .container.delivery-section__container
        .delivery-section__left
            h2.g-title.delivery-section__title Доставка по России 1-14 дней
            h3.g-title.delivery-section__subtitle возможен самовывоз в день заказа

            h4.g-title.delivery-section__caption Пришлем вам фото изделия перед&nbsp;отправкой
            p.delivery-section__desc доставка по России осуществляется транспортной компанией СДЭК

            h4.g-title.delivery-section__caption Получайте заказ в главном офисе&nbsp;интернет-галереи
            p.delivery-section__desc в 2 минутах от м. Ладожская. 
                a.g-link.delivery-section__link(href="#") Посмотреть на карте

            h4.g-title.delivery-section__caption Заказывайте до 5 изделий на&nbsp;примерку без предоплаты
            p.delivery-section__desc заказ вас ни к чему не обязывает, не подойдут, не покупайте
        img.delivery-section__image(src="img/no-image.svg", alt="Доставка по России 1-14 дней")
        h3.g-title.delivery-section__subtitle.delivery-section__subtitle--hidden возможен самовывоз в день заказа
        h2.g-title.delivery-section__title.delivery-section__title--hidden Доставка по России 1-14 дней