.delivery-section {

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 136px;
        padding-bottom: 134px;

        @media (max-width: 1024px) {
            align-items: flex-start;
            flex-direction: column-reverse;
            padding-top: 72px;
            padding-bottom: 72px;
        }
    }

    &__title {
        max-width: 480px;
        margin-bottom: 13px;
        &--hidden {
            @media (min-width: 1025px) {
                display: none;
            }
        }
        @media (max-width: 1024px) {
            text-align: center;
            margin: 0 auto 10px;
        }

        @media (max-width: 768px) {
            max-width: 350px;
            font-size: 24px;
            line-height: 32px;
            margin: 0 auto 9px;
        }

        @media (max-width: 576px) {
            font-weight: 400;
            font-family: "HeliosExt", sans-serif;
            font-size: 20px;
            max-width: 300px;
            line-height: 24px;
            margin-bottom: 13px;
        }
    }

    &__left {
        padding-left: 92px;

        @media (max-width: 1230px) {
            padding-left: 0;
            padding-right: 30px;
        }

        @media (max-width: 1024px) {
            text-align: center;
            margin: 0 auto;
            padding-right: 0;

            .delivery-section__title,
            .delivery-section__subtitle {
                display: none;
            }
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 24px;
        color: rgba(#000, 0.5);
        margin-bottom: 69px;
        &--hidden {
            @media (min-width: 1025px) {
                display: none;
            }
        }

        @media (max-width: 1024px) {
            margin: 0 auto 50px;
        }

        @media (max-width: 768px) {
            max-width: 400px;
            font-size: 16px;
            line-height: 24px;
            margin: 0 auto 30px;
        }

        @media (max-width: 576px) {
            font-family: "HeliosExt", sans-serif;
            font-weight: 400;
            max-width: 340px;
            font-size: 10px;
            line-height: 15px;
        }
    }

    &__caption {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 2px;

        @media (max-width: 576px) {
            font-family: "HeliosExt", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            max-width: 300px;
            margin: 0 auto 10px;
        }
    }

    &__desc {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        color: rgba(#000, 0.5);

        @media (max-width: 576px) {
            max-width: 250px;
            text-align: center;
            margin: 0 auto;
            font-size: 14px;
            line-height: 18px;
        }

        &:not(:last-child) {
            margin-bottom: 31px;
        }
    }

    &__link {
        color: #111;
    }

    &__image {
        display: block;
        max-width: 557px;
        height: 520px;
        object-fit: cover;

        @media (max-width: 1230px) {
            max-width: 500px;
        }

        @media (max-width: 1024px) {
            width: 70%;
            max-width: 70%;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        @media (max-width: 768px) {
            height: 400px;
        }

        @media (max-width: 576px) {
            height: auto;
            width: calc(100% + 20px);
            max-width: calc(100% + 20px);
            margin: 0 -10px 30px;
        }
    }

}