section.services
    .container.services__container
        ul.g-breadcrumbs__list.services__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link Услуги
        h1.g-title.g-title--center.services__title Услуги
        ul.services__list.list-reset
            - for(let i = 1; i < 7; i++)
                li.services-item
                    a.services-item__image(href="service.html") 
                        img.lozad(src=`img/services-${i}.jpg` srcset=`img/services-${i}@2x.jpg`, alt="подарочная упаковка")
                    a.g-title.services-item__title(href="service.html") подарочная упаковка
                    a.g-link.services-item__link(href="service.html") Посмотреть