section.entry
    .container.entry__container
        ul.g-breadcrumbs__list.entry__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="new-blog.html") Блог
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link Выбираем модные обручальные кольца
        h1.g-title.g-title--center.entry__title Выбираем модные обручальные кольца
        img.entry__image.lozad(src="img/entry.jpg", srcset="img/entry@2x.jpg 2x" alt="Выбираем модные обручальные кольца")
        .entry__content
            span.g-title.entry__date 17 ФЕВРАЛЯ 2022
            h2.g-title.entry__subtitle Неоспоримым плюсом такого именного украшения является его долговечность и&nbsp;эстетичность, а также возможность нанесения надписи или изображения на&nbsp;изделия любой конфигурации.
            .entry__desc
                p Работа выполняется профессионалами качественно, аккуратно и в кратчайшие сроки, что позволяет сделать ценный подарок еще более уникальным, а момент его дарения - поистине особенным. Мы можем выполнить нанесение как текста поздравления или инициалы имени, так и логотипы Вашей организации любой сложности. Дизайнеры помогут разместить гравировку на изделии наиболее лаконично и аккуратно.
                p Неоспоримым плюсом такого именного украшения является его долговечность и эстетичность, а так же возможность нанесения надписи или изображения на изделия любой конфигурации.
                p Работа выполняется профессионалами качественно, аккуратно и в кратчайшие сроки, что позволяет сделать ценный подарок еще более уникальным, а момент его дарения - поистине особенным.
                p Мы можем выполнить нанесение как текста поздравления или инициалы имени, так и логотипы Вашей организации любой сложности. Дизайнеры помогут разместить гравировку на изделии наиболее лаконично и аккуратно.
            h3.g-title.entry__banner Выбрать кольца очень просто - только нужно начать!
            .entry__desc
                p Неоспоримым плюсом такого именного украшения является его долговечность и эстетичность, а также возможность нанесения надписи или изображения на изделия любой конфигурации.
                p Работа выполняется профессионалами качественно, аккуратно и в кратчайшие сроки, что позволяет сделать ценный подарок еще более уникальным, а момент его дарения - поистине особенным.
                p Мы можем выполнить нанесение как текста поздравления или инициалы имени, так и логотипы Вашей организации любой сложности. Дизайнеры помогут разместить гравировку на изделии наиболее лаконично и аккуратно.
            .entry-slider__wrapper
                .swiper.entry-slider
                    .swiper-wrapper
                        .swiper-slide.entry-slide
                            img.entry-slide__image(src="img/no-image.svg", alt="Приток развития и современное переосмысление наследия старейшего в Петербург")
                            span.entry-slide__caption Приток развития и современное переосмысление наследия старейшего в Петербург
                        .swiper-slide.entry-slide
                            img.entry-slide__image(src="img/no-image.svg", alt="Приток развития и современное переосмысление наследия старейшего в Петербург")
                            span.entry-slide__caption Приток развития и современное переосмысление наследия старейшего в Петербург
                        .swiper-slide.entry-slide
                            img.entry-slide__image(src="img/no-image.svg", alt="Приток развития и современное переосмысление наследия старейшего в Петербург")
                            span.entry-slide__caption Приток развития и современное переосмысление наследия старейшего в Петербург
                        .swiper-slide.entry-slide
                            img.entry-slide__image(src="img/no-image.svg", alt="Приток развития и современное переосмысление наследия старейшего в Петербург")
                            span.entry-slide__caption Приток развития и современное переосмысление наследия старейшего в Петербург
                .g-slider-pagination.entry-slider__pag
                button.btn-reset.g-slider-btn.g-slider-btn--prev.entry-slider__btn.entry-slider__btn--prev
                    +icon("arrow")
                button.btn-reset.g-slider-btn.g-slider-btn--next.entry-slider__btn.entry-slider__btn--next
                    +icon("arrow")
            .entry__desc
                p Неоспоримым плюсом такого именного украшения является его долговечность и эстетичность, а также возможность нанесения надписи или изображения на изделия любой конфигурации. Работа выполняется профессионалами качественно, аккуратно и в кратчайшие сроки, что позволяет сделать ценный подарок еще более уникальным, а момент его дарения - поистине особенным. Мы можем выполнить нанесение как текста поздравления или инициалы имени, так и логотипы Вашей организации любой сложности. Дизайнеры помогут разместить гравировку на изделии наиболее лаконично и аккуратно.
            q.entry__quote При получении заказа необходимо обязательно проверить комплектацию доставленного изделия, соответствие модели и дизайна. Необходимо убедиться в отсутствии на товаре видимых повреждений, проверить работоспособность замков и других элементов изделия.
            .entry__desc
                p Неоспоримым плюсом такого именного украшения является его долговечность и эстетичность, а также возможность нанесения надписи или изображения на изделия любой конфигурации. Работа выполняется профессионалами качественно, аккуратно и в кратчайшие сроки, что позволяет сделать ценный подарок еще более уникальным, а момент его дарения - поистине особенным. Мы можем выполнить нанесение как текста поздравления или инициалы имени, так и логотипы Вашей организации любой сложности. Дизайнеры помогут разместить гравировку на изделии наиболее лаконично и аккуратно.
            .entry__author.author-entry
                img.author-entry__image(src="img/no-image.svg", alt="Алена смеянова")
                .author-entry__text
                    span.author-entry__name Алена смеянова
                    span.author-entry__job Главный редактор