.cat-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    .simplebar-content {
        display: flex;
        align-items: center;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 9.5px;
        }
    }

    &__link {
        white-space: nowrap;
        display: block;
        color: rgba(#000, 0.5);
        text-transform: uppercase;
        font-size: 14px;
        padding: 7.5px 17px 3.5px 14px;
        line-height: 16.4px;
        font-weight: 400;
        border-radius: 73px;
        border: 1px solid rgba(#000, 0.5);
        transition: background-color 0.3s, color 0.3s;
        &:hover {
            background-color: #111;
            color: #fff;
        }
    }
}