.popular-categories {
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 88px;

        @media (max-width: 768px) {
            padding-bottom: 52px;
        }
    }

    &__title {
        margin-bottom: 56px;

        @media (max-width: 1024px) {
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            font-family: "HeliosExt", sans-serif;
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
        }
    }

    &-slider {
        @media (max-width: 768px) {
            max-width: calc(100% - 70px);
            overflow: visible;
            padding-left: 35px;
            padding-right: 35px;
        }

        &.swiper-initialized {
            .popular-categories-slider {
                &__btn {
                    display: flex;
                }

                &__scrollbar {
                    display: block;
                }
            }
        }

        &__btn {
            display: none;
            position: absolute;
            z-index: 1;
            top: 33%;

            &--prev {
                left: -10px;
            }

            &--next {
                right: -10px;
            }
        }

        &__scrollbar {
            display: none;
        }
    }

    &__list {
        display: grid;
        column-gap: 12px;
        row-gap: 34px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 57px;

        @media (max-width: 768px) {
            display: flex;
            gap: 0;
            overflow: visible;
            margin-bottom: 20px;
        }
    }

    &__more {
        position: relative;
        z-index: 2;
        padding: 14px 66px 13px 63px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__link {
        display: none;
        padding: 14px 66px 13px 63px;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__breadcrumbs {
        width: 100%;
        padding: 35px 0 23px;
    }

    &__tabs {
        .simplebar-content {
            justify-content: center;

            @media (max-width: 1024px) {
                justify-content: flex-start;
            }
        }
    }
}

.popular-category {

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: opacity 0.3s, transform 0.3s;
        @include hoverOnCard();
    }

    @media (max-width: 768px) {
        width: 256px;
    }

    &__image {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        max-height: 464px;
        overflow: hidden;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            height: 280px;
            margin-bottom: 20px;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s;
        }
    }

    &__title {
        display: block;
        position: relative;
        z-index: 2;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 8px;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
        }

        @media (max-width: 576px) {
            font-family: "HeliosExt", sans-serif;
            font-weight: 400;
        }
    }

    &__link {
        position: relative;
        z-index: 2;
        padding-bottom: 10px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &--big {
        grid-column: 2 span;
    }

    &--hidden {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
    }
}

.decoratiors {
    &:after {
        display: none;
    }

    &__more {
        display: block;
        margin-bottom: 64px;
        font-size: 16px;
        line-height: 24px;
        color: #111;
        text-transform: uppercase;
        font-family: "HeliosExt", sans-serif;
        text-decoration: underline;
        text-align: center;

        @media (max-width: 576px) {
            margin-bottom: 30px;
        }
    }

    &__query {
        width: 100%;
    }

    &__list {
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 12px;
            row-gap: 34px;
            margin-bottom: 30px;
            width: 100%;
        }

        @media (max-width: 576px) {
            column-gap: 6px;
            row-gap: 16px;
        }
    }

    &__item {
        @media (max-width: 768px) {
            width: auto;
        }

        @media (max-width: 576px) {
            .popular-category__image {
                height: auto;
            }
        }
    }
}