section.popular-categories
    .container.popular-categories__container
        h2.g-title.g-title--center.popular-categories__title ПОПУЛЯрНЫЕ КАТЕГОРИИ
        ul.cat-links.list-reset.popular-categories__links
            li.cat-links__item
                a.cat-links__link(href="#") Новинки
            li.cat-links__item
                a.cat-links__link(href="#") На свадьбу
            li.cat-links__item
                a.cat-links__link(href="#") Женские
            li.cat-links__item
                a.cat-links__link(href="#") Мужские
            li.cat-links__item
                a.cat-links__link(href="#") Детям
            li.cat-links__item
                a.cat-links__link(href="#") Актуальная классика
            li.cat-links__item
                a.cat-links__link(href="#") На каждый день
            li.cat-links__item
                a.cat-links__link(href="#") Для вечернего образа
            li.cat-links__item
                a.cat-links__link(href="#") Необычные
            li.cat-links__item
                a.cat-links__link(href="#") Ещё
        ul.popular-categories__list.list-reset
            li.popular-category
                a.popular-category__image(href="#") 
                    img(src="img/popular-category-1.jpg", alt="Кольца")
                h3.popular-category__title.g-title.g-title--center КОЛЬЦА
                a.popular-category__link.g-link(href="#") Посмотреть
            li.popular-category
                a.popular-category__image(href="#") 
                    img(src="img/popular-category-2.jpg", alt="Кольца")
                h3.popular-category__title.g-title.g-title--center СЕРЬГИ
                a.popular-category__link.g-link(href="#") Посмотреть
            li.popular-category
                a.popular-category__image(href="#") 
                    img(src="img/popular-category-3.jpg", alt="Кольца")
                h3.popular-category__title.g-title.g-title--center ПОДВЕСКИ
                a.popular-category__link.g-link(href="#") Посмотреть
            li.popular-category
                a.popular-category__image(href="#") 
                    img(src="img/popular-category-4.jpg", alt="Кольца")
                h3.popular-category__title.g-title.g-title--center БРОШИ
                a.popular-category__link.g-link(href="#") Посмотреть
            li.popular-category.popular-category--big
                a.popular-category__image(href="#") 
                    img(src="img/popular-category-5.jpg", alt="Кольца")
                h3.popular-category__title.g-title.g-title--center Колье
                a.popular-category__link.g-link(href="#") Посмотреть
        button.btn-reset.g-btn.g-btn--stroke.g-btn--center.popular-categories__more показать ещЁ