mixin icon(name,mod)
  if(mod)
    svg(class="svg-icon " + name + ' ' + mod)
      use(xlink:href="./img/sprites/sprite.svg#" + name)
  else
    svg(class="svg-icon " + name)
      use(xlink:href="./img/sprites/sprite.svg#" + name)

mixin burger
  button.btn-reset.menu-btn(aria-label="Кпопка бургер")
    span.menu-btn__line
    span.menu-btn__line
    span.menu-btn__line
    span.menu-btn__line
    span.menu-btn__close

mixin checkbox
  .g-checkbox
    input.g-checkbox__input(type="checkbox")
    span.g-checkbox__switch

mixin product
  .product
    span.product__caption NEW
    button.btn-reset.product__favorite
      +icon("favorite")
    .swiper.product-slider
      .swiper-wrapper
        .swiper-slide.product__image
          img(src="img/product-1.jpg", alt="Продукт 1")
        .swiper-slide.product__image
          img(src="img/product-1.jpg", alt="Продукт 1")
        .swiper-slide.product__image
          img(src="img/product-1.jpg", alt="Продукт 1")
        .swiper-slide.product__image
          img(src="img/product-1.jpg", alt="Продукт 1")
      .g-slider-pagination.product-slider__pag
      button.btn-reset.g-slider-btn.g-slider-btn--prev.product-slider__btn.product-slider__btn--prev
        +icon("arrow")
      button.btn-reset.g-slider-btn.g-slider-btn--next.product-slider__btn.product-slider__btn--next
        +icon("arrow")
    a.product__title(href="card.html") Кольцо из белого золота с изумрудом и турмалинами
    span.product__price от 77 975 ₽
    .product__discount
        span.product__old-price
            span 150 000 
            |₽
        span.product__percent 15%
    .product-details
      p.product__desc Желтое золото , 5 бриллиантов, 3 сапфира
      button.btn-reset.g-btn.g-btn--stroke.product__to-cart В корзину

mixin pagination(cls)
  if(cls)
    ul(class="g-pagination catalog__pagination list-reset " + cls)
      li.g-pagination__item
        a.g-pagination__link.g-pagination__link--prev(href="#")
          +icon("arrow")
      li.g-pagination__item
        span.g-pagination__link.g-pagination__link--current 1
      li.g-pagination__item
        a.g-pagination__link(href="#") 2
      li.g-pagination__item
        a.g-pagination__link(href="#") 3
      li.g-pagination__item
        a.g-pagination__link(href="#") 4
      li.g-pagination__item
        a.g-pagination__link(href="#") 5
      li.g-pagination__item
        a.g-pagination__link(href="#") 6
      li.g-pagination__item
        a.g-pagination__link(href="#") 7
      li.g-pagination__item
        span.g-pagination__link ...
      li.g-pagination__item
        a.g-pagination__link(href="#") 33
      li.g-pagination__item
        a.g-pagination__link.g-pagination__link--next(href="#")
          +icon("arrow")
  else
    ul.g-pagination.catalog__pagination.list-reset
      li.g-pagination__item
        a.g-pagination__link.g-pagination__link--prev(href="#")
          +icon("arrow")
      li.g-pagination__item
        span.g-pagination__link.g-pagination__link--current 1
      li.g-pagination__item
        a.g-pagination__link(href="#") 2
      li.g-pagination__item
        a.g-pagination__link(href="#") 3
      li.g-pagination__item
        a.g-pagination__link(href="#") 4
      li.g-pagination__item
        a.g-pagination__link(href="#") 5
      li.g-pagination__item
        a.g-pagination__link(href="#") 6
      li.g-pagination__item
        a.g-pagination__link(href="#") 7
      li.g-pagination__item
        span.g-pagination__link ...
      li.g-pagination__item
        a.g-pagination__link(href="#") 33
      li.g-pagination__item
        a.g-pagination__link.g-pagination__link--next(href="#")
          +icon("arrow")

mixin filters(cls)
  if(cls)
    ul(class="g-filters__list list-reset " + cls)
      li.g-filters__item
          button.btn-reset.g-filters__btn.g-filters__btn--active(data-filters-path="decorations") украшения
      li.g-filters__item
          button.btn-reset.g-filters__btn(data-filters-path="engagement") помолвка
      li.g-filters__item
          button.btn-reset.g-filters__btn(data-filters-path="house") дом
      li.g-filters__item
          button.btn-reset.g-filters__btn(data-filters-path="high-magnification-art") высокое ювелирное искусство

mixin tabs
  ul.g-tabs.list-reset(data-simplebar)
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Новинки
    li.g-tabs__item
        button.btn-reset.g-tabs__btn На свадьбу
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Женские
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Мужские
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Детям
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Актуальная классика
    li.g-tabs__item
        button.btn-reset.g-tabs__btn На каждый день
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Для вечернего образа
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Необычные
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Новинки
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn На свадьбу
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Женские
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn На каждый день
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Для вечернего образа
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Необычные
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Новинки
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn На свадьбу
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Актуальная классика
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn На каждый день
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Необычные
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Детям
    li.g-tabs__item
        button.btn-reset.g-tabs__btn.g-tabs__btn--more
            |Ещё
            +icon("arrow")

mixin tooltip
  span.g-tooltip
    button.btn-reset.g-tooltip__btn(aria-describedby="tooltip1")
      +icon("tooltip")
    .g-tooltip__txt(id="tooltip1" role="tooltip")

mixin popularQuery(cls)
  div(class="popular-query " + cls)
    h3.g-title.popular-query__title Популярный запрос
    ul.g-tabs.list-reset.popular-query__tabs
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Новинки
        li.g-tabs__item
            button.btn-reset.g-tabs__btn На свадьбу
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Женские
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Мужские
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Детям
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Актуальная классика
        li.g-tabs__item
            button.btn-reset.g-tabs__btn На каждый день
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Новинки
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn На свадьбу
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Женские
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Мужские
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Детям
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Актуальная классика
        li.g-tabs__item
            button.btn-reset.g-tabs__btn.g-tabs__btn--more
              |Ещё
              +icon("arrow")