section.collections-section.g-filters
    .container.collections-section__container
        h2.g-title.g-title--center.collections-section__title КОЛЛЕКЦИИ
        +filters("collections-section__filters")

        .swiper.collections-section-slider.g-filters__content.g-filters__content--active(data-filters-target="decorations")
            .swiper-wrapper
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-1.jpg", srcset="img/collection-1@2x.jpg 2x", alt="коллекция моя прекрасная леди")
                    a.g-title.collections-section-item__title(href="#") моя прекрасная леди
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-1.jpg", srcset="img/collection-1@2x.jpg 2x", alt="коллекция моя прекрасная леди")
                    a.g-title.collections-section-item__title(href="#") моя прекрасная леди
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
            .swiper-scrollbar.g-scrollbar.collections-section-slider__scrollbar
            button.btn-reset.g-slider-btn.g-slider-btn--prev.collections-section-slider__btn.collections-section-slider__btn--prev
                +icon("arrow")
            button.btn-reset.g-slider-btn.g-slider-btn--next.collections-section-slider__btn.collections-section-slider__btn--next
                +icon("arrow")
        .swiper.collections-section-slider.g-filters__content(data-filters-target="high-magnification-art")
            .swiper-wrapper
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-1.jpg", srcset="img/collection-1@2x.jpg 2x", alt="коллекция моя прекрасная леди")
                    a.g-title.collections-section-item__title(href="#") моя прекрасная леди
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-1.jpg", srcset="img/collection-1@2x.jpg 2x", alt="коллекция моя прекрасная леди")
                    a.g-title.collections-section-item__title(href="#") моя прекрасная леди
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
            .swiper-scrollbar.g-scrollbar.collections-section-slider__scrollbar
            button.btn-reset.g-slider-btn.g-slider-btn--prev.collections-section-slider__btn.collections-section-slider__btn--prev
                +icon("arrow")
            button.btn-reset.g-slider-btn.g-slider-btn--next.collections-section-slider__btn.collections-section-slider__btn--next
                +icon("arrow")
        .swiper.collections-section-slider.g-filters__content(data-filters-target="engagement")
            .swiper-wrapper
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-1.jpg", srcset="img/collection-1@2x.jpg 2x", alt="коллекция моя прекрасная леди")
                    a.g-title.collections-section-item__title(href="#") моя прекрасная леди
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-1.jpg", srcset="img/collection-1@2x.jpg 2x", alt="коллекция моя прекрасная леди")
                    a.g-title.collections-section-item__title(href="#") моя прекрасная леди
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
            .swiper-scrollbar.g-scrollbar.collections-section-slider__scrollbar
            button.btn-reset.g-slider-btn.g-slider-btn--prev.collections-section-slider__btn.collections-section-slider__btn--prev
                +icon("arrow")
            button.btn-reset.g-slider-btn.g-slider-btn--next.collections-section-slider__btn.collections-section-slider__btn--next
                +icon("arrow")
        .swiper.collections-section-slider.g-filters__content(data-filters-target="house")
            .swiper-wrapper
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-1.jpg", srcset="img/collection-1@2x.jpg 2x", alt="коллекция моя прекрасная леди")
                    a.g-title.collections-section-item__title(href="#") моя прекрасная леди
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-1.jpg", srcset="img/collection-1@2x.jpg 2x", alt="коллекция моя прекрасная леди")
                    a.g-title.collections-section-item__title(href="#") моя прекрасная леди
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-2.jpg", srcset="img/collection-2@2x.jpg 2x", alt="коллекция SHINE")
                    a.g-title.collections-section-item__title(href="#") SHINE
                    a.g-link.collections-section-item__link(href="#") Посмотреть
                .swiper-slide.collections-section-item
                    a.collections-section-item__image(href="#") 
                        img.lozad(src="img/collection-3.jpg", srcset="img/collection-3@2x.jpg 2x", alt="коллекция МИНИ")
                    a.g-title.collections-section-item__title(href="#") МИНИ
                    a.g-link.collections-section-item__link(href="#") Посмотреть
            .swiper-scrollbar.g-scrollbar.collections-section-slider__scrollbar
            button.btn-reset.g-slider-btn.g-slider-btn--prev.collections-section-slider__btn.collections-section-slider__btn--prev
                +icon("arrow")
            button.btn-reset.g-slider-btn.g-slider-btn--next.collections-section-slider__btn.collections-section-slider__btn--next
                +icon("arrow")
        a.g-btn.g-btn--stroke.collections-section__link(href="collections.html") СМОТРЕТЬ ВСЕ КОЛЛЕКЦИИ