section.collections.g-filters
    .container.collections__container
        ul.g-breadcrumbs__list.collections__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link Коллекции
        h1.g-title.g-title--center.collections__title Коллекции
        +filters("collections__filters")
        ul.collections__list.list-reset
            li.collections-item.collections-item--1.collections-item--big
                a.collections-item__link(href="#")
                    span.collections-item__back.g-title heritage
                    h2.g-title.collections-item__title heritage
                    p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
            li.collections-item.collections-item--2
                a.collections-item__link(href="#")
                    span.collections-item__back.g-title candy
                    h2.g-title.collections-item__title candy
                    p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
            li.collections-item.collections-item--3
                a.collections-item__link(href="#")
                    span.collections-item__back.g-title herceg
                    h2.g-title.collections-item__title herceg
                    p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
            li.collections-item.collections-item--4.collections-item--big
                a.collections-item__link(href="#")
                    span.collections-item__back.g-title nightshade
                    h2.g-title.collections-item__title nightshade
                    p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
        button.btn-reset.g-btn.g-btn--stroke.g-btn--center.collections__more показать ещЁ