if page === "card" || page === "card2" || page === "card3" || page === "card4" || page === "only-order"
    section.collections.collections--2
        .collections__container--2
            ul.collections__list.collections__list--2.list-reset
                li.collections-item.collections-item--4.collections-item--big
                    .collections-item__content.collections-item__content--no-hover
                        .collections-item__wrapper
                            span.collections-item__back.g-title nightshade
                            h3.g-title.collections-item__subtitle КОЛЛЕКЦИЯ
                            h2.g-title.collections-item__title.collections-item__title--2 nightshade
                            picture
                                source(srcset="img/collection-image-1-rectangle.png" media="(min-width: 1025px)")
                                img.collections-item__image(src="img/collection-image-2-vertical.png", alt="nightshade")
                            a.g-btn.g-btn--stroke.collections-item__link(href="collection.html")  Смотреть КОЛЛЕКЦИЮ
                            p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
                            span.collections-item__caption nightshade
else
    section.collections.g-filters
        .container.collections__container
            ul.g-breadcrumbs__list.collections__breadcrumbs.list-reset
                li.g-breadcrumbs__item
                    a.g-breadcrumbs__link(href="/") Главная
                li.g-breadcrumbs__item
                    a.g-breadcrumbs__link Коллекции
            .collections__top
                h1.g-title.g-title--center.collections__title Коллекции
                +filters("collections__filters fix-block")
            ul.collections__list.list-reset
                li.collections-item.collections-item--1.collections-item--big
                    a.collections-item__content(href="collection.html") 
                        span.collections-item__back.g-title heritage
                        h2.g-title.collections-item__title heritage
                        picture
                            source(srcset="img/collection-image-1-rectangle.png" media="(min-width: 1025px)")
                            img.collections-item__image(src="img/collection-image-2-vertical.png", alt="heritage")
                        p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
                        span.collections-item__caption Heritage
                li.collections-item.collections-item--2
                    a.collections-item__content(href="collection.html") 
                        span.collections-item__back.g-title candy
                        h2.g-title.collections-item__title candy
                        picture
                            source(srcset="img/collection-image-1-quadro.png" media="(min-width: 1025px)")
                            img.collections-item__image(src="img/collection-image-2-quadro.png", alt="candy")
                        p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
                        span.collections-item__caption Candy
                li.collections-item.collections-item--3
                    a.collections-item__content(href="collection.html") 
                        span.collections-item__back.g-title herceg
                        h2.g-title.collections-item__title herceg
                        picture
                            source(srcset="img/collection-image-1-quadro.png" media="(min-width: 1025px)")
                            img.collections-item__image(src="img/collection-image-2-quadro.png", alt="herceg")
                        p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
                        span.collections-item__caption herceg
                li.collections-item.collections-item--4.collections-item--big
                    a.collections-item__content(href="collection.html") 
                        span.collections-item__back.g-title nightshade
                        h2.g-title.collections-item__title nightshade
                        picture
                            source(srcset="img/collection-image-1-rectangle.png" media="(min-width: 1025px)")
                            img.collections-item__image(src="img/collection-image-2-vertical.png", alt="nightshade")
                        p.collections-item__desc До недавнего времени считалось, что спонсорство оправдывает презентационный материал. Сегмент рынка, суммируя приведенные примеры, изменяет продуктовый ассортимент.
                        span.collections-item__caption nightshade
            button.btn-reset.g-btn.g-btn--stroke.g-btn--center.collections__more показать ещё