section.cabinet
    .container.cabinet__container
        ul.g-breadcrumbs__list.cabinet__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link Мой кабинет
        h1.g-title.g-title--center.cabinet__title Мой кабинет
        .cabinet__body
            ul.cabinet-nav.list-reset
                li.cabinet-nav__item
                    a.cabinet-nav__link(href="new-orders.html") мои заказы
                li.cabinet-nav__item
                    a.cabinet-nav__link(href="new-personal.html") ЛИЧНЫЕ ДАННЫЕ
                li.cabinet-nav__item
                    a.cabinet-nav__link(href="#") ИЗМЕНЕНИЕ ПАРОЛЯ
                li.cabinet-nav__item
                    a.cabinet-nav__link.cabinet-nav__link--gray(href="#")
                        |БОНУСНАЯ ПРОГРАММА
                        +icon("tooltip")
                li.cabinet-nav__item
                    a.cabinet-nav__link(href="#") СЛУЖБА ПОДДЕРЖКИ
            .cabinet-content
                .cabinet-content__column
                    .cabinet-accordion.g-accordion.isOpen
                        button.btn-reset.g-accordion__control.cabinet-accordion__title(aria-expanded="true" type="button")
                            span Личные данные
                            i.g-accordion__icon
                                +icon("arrow")
                        .g-accordion__content.cabinet-accordion__content(aria-hidden="false")
                            span.cabinet-content__value.cabinet-content__value--gray Иван Андрей Иванович
                            span.cabinet-content__value + 7 (994) 099-02-34
                            span.cabinet-content__value.cabinet-content__value--gray andreyivanov@yandex.ru
                            a.cabinet-content__edit(href="new-personal.html")
                                span Редактировать данные
                                +icon("edit")
                .cabinet-content__column
                    .cabinet-accordion.g-accordion.isOpen
                        button.btn-reset.g-accordion__control.cabinet-accordion__title(aria-expanded="true" type="button")
                            span Способ доставки
                            i.g-accordion__icon
                                +icon("arrow")
                        .g-accordion__content.cabinet-accordion__content(aria-hidden="false")
                            span.cabinet-content__value Курьерская доставка
                            span.cabinet-content__value.cabinet-content__value--gray г. Москва, ул. Восточная, д. 36.
                            span.cabinet-content__value.cabinet-content__value--gray Позвонить в домофон *202
                            a.cabinet-content__edit(href="new-personal.html")
                                span Редактировать данные
                                +icon("edit")
                ul.cabinet-links.list-reset
                    li.cabinet-links__item
                        a.g-link.cabinet-links__link(href="delivery-payment.html") Доставка и оплата
                    li.cabinet-links__item
                        a.g-link.cabinet-links__link(href="#") Гарантия
                    li.cabinet-links__item
                        a.g-link.cabinet-links__link(href="shops.html") Магазины