.blog {
    &__container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 42px;
        padding-bottom: 88px;

        @media (max-width: 768px) {
            padding-top: 25px;
            padding-bottom: 52px;
        }
    }

    &__breadcrumbs {
        margin-bottom: 23px;
    }

    &__title {
        font-family: "HeliosExtLight", sans-serif;
        font-weight: 300;
        margin-bottom: 55px;

        @media (max-width: 576px) {
            font-size: 20px;
            line-height: 24px;
            margin-top: 10px;
            margin-bottom: 25px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 8px;

        @media (max-width: 1024px) {
            max-width: 800px;
            margin: 0 auto 8px;
            flex-direction: column-reverse;
        }
    }

    &__tabs {
        max-width: 800px;

        @media (max-width: 1024px) {
            max-width: 100%;
        }
    }

    &__search-form {
        padding-top: 6px;

        @media (max-width: 1024px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__grid {
        display: grid;
        column-gap: 12px;
        row-gap: 48px;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
        margin-bottom: 71px;
        
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            row-gap: 25px;
            margin-bottom: 35px;
        }
    }

    &__item {
        grid-column: 4 span;

        @media (max-width: 1024px) {
            &:last-child {
                display: none;
            }
        }

        @media (max-width: 576px) {
            &:not(:nth-child(2n)) {
                display: none;
            }
        }

        @media (max-width: 1024px) {
            grid-column: 6 span;
        }

        &--md {
            grid-column: 6 span;
        }

        &--lg {
            grid-column: 8 span;
        }
    }

    &__more {
        display: block;
        margin: 0 auto;
        padding: 13px 65px 14px 65px;
    }
}