section.hero
    .swiper.hero-slider
        .swiper-wrapper
            .swiper-slide
                .hero-slide.hero-slide--1
                    .container.hero-slide__container
                        .hero-slide__bg.hero-slide__bg--1
                        .hero-slide__content
                            h2.g-title.hero__subtitle ювелирные украшения
                            h1.g-title.g-title--big.hero__title Collection name
                            p.hero__desc Изысканный и неповторимый. Высокий стиль, в вашем образе*
                            a.g-btn.g-btn--black.hero__link(href="#") Смотреть
                            span.hero__caption * Примечания, сноски
            .swiper-slide
                .hero-slide.hero-slide--2
                    .container.hero-slide__container
                        .hero-slide__bg.hero-slide__bg--2
                        .hero-slide__content
                            h2.g-title.hero__subtitle ювелирные украшения
                            h1.g-title.g-title--big.hero__title.hero__title--white Collection name
                            p.hero__desc.hero__desc--white Изысканный и неповторимый. Высокий стиль, в вашем образе*
                            a.g-btn.hero__link.g-btn--stroke(href="#") Смотреть
                            span.hero__caption * Примечания, сноски
            .swiper-slide
                .hero-slide.hero-slide--1
                    .container.hero-slide__container
                        .hero-slide__bg.hero-slide__bg--1
                        .hero-slide__content
                            h2.g-title.hero__subtitle ювелирные украшения
                            h1.g-title.g-title--big.hero__title Collection name
                            p.hero__desc Изысканный и неповторимый. Высокий стиль, в вашем образе*
                            a.g-btn.g-btn--black.hero__link(href="#") Смотреть
                            span.hero__caption * Примечания, сноски
            .swiper-slide
                .hero-slide.hero-slide--2
                    .container.hero-slide__container
                        .hero-slide__bg.hero-slide__bg--2
                        .hero-slide__content
                            h2.g-title.hero__subtitle ювелирные украшения
                            h1.g-title.g-title--big.hero__title.hero__title--white Collection name
                            p.hero__desc.hero__desc--white Изысканный и неповторимый. Высокий стиль, в вашем образе*
                            a.g-btn.hero__link.g-btn--stroke(href="#") Смотреть
                            span.hero__caption * Примечания, сноски
        .g-pagination.hero-slider__pag
        button.btn-reset.g-slider-btn.g-slider-btn--prev.hero-slider__btn.hero-slider__btn--prev
            +icon("arrow")
        button.btn-reset.g-slider-btn.g-slider-btn--next.hero-slider__btn.hero-slider__btn--next
            +icon("arrow")