section.collection
    .container.collection__container
        ul.g-breadcrumbs__list.collection__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="collections.html") Коллекции
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link Коллекция Гербарий Татьяны Поляковой
        .collection__item
            h3.g-title.collection__back ГЕРБАРИЙ ТАТЬЯНЫ ПОЛЯКОВОЙ
            h1.g-title.collection__title ГЕРБАРИЙ <br> ТАТЬЯНЫ ПОЛЯКОВОЙ
            picture
                source(srcset="img/collection-image.png" media="(min-width: 577px)")
                img.collection__image(src="img/collection-image-mobile.png", alt="Картинка гербария")
        .collection-content.read-more-wrapper
            h2.g-title.collection-content__title КОЛЛЕКЦИЯ ГЕРБАРИЙ ТАТЬЯНЫ ПОЛЯКОВОЙ”
            .full-text
                p.collection-content__desc Императорский ювелирный завод «Русские самоцветы» и специалист по деловому и светскому этикету Татьяна Полякова представляют новую совместную коллекцию брошей «Гербарий». Татьяна Полякова Специально для «Русские самоцветы» 
                img.collection-content__image.lozad(src="img/collection-author.jpg", srcset="img/collection-author@2x.jpg 2x" alt="Татьяна Полякова")
                h3.g-title.collection-content__author Татьяна Полякова
                .collection-content__desc 
                    p «В детстве, родители, отправляя меня на каникулы, собирали багаж обязательных к прочтению летом книг. Я не сопротивлялась. Я оглядывала книги на предмет того, хватит ли страниц и как ляжет в них мой гербарий. Растения честно вкладывала только в прочитанные страницы. Цветы я срезала. Корни, как и свои, не отрывала. Сохраняла. И сохранила. 
                    p Много лет я искала ювелира, который мог бы воплотить мою мечту и увековечить мою эстетику счастливого детства. Мне повезло. Мастера завода «Русские самоцветы» воплотили мои эмоции в серебре 925 пробы и в технике перегородчатой эмали. 
                    p Каждая из брошей, которые я ношу связкой, букетом из цветов и травы, имеет номер лимитированной серии. Позвольте мне представить мой гербарий из цветов, которые не вянут».
            button.btn-reset.g-link.read-more.collection-content__more(data-text="Развернуть") Развернуть