extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Кольцо с турмалином и бриллиантами";
	- const page = "card"

block content
	.site-container
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/card/card
			include ../../blocks/modules/we-work/we-work
			include ../../blocks/modules/perfect-combination/perfect-combination
			include ../../blocks/modules/collections/collections
			include ../../blocks/modules/wares/wares
			include ../../blocks/modules/banner/banner
			include ../../blocks/modules/wares/wares
			include ../../blocks/modules/info/info
		include ../../blocks/modules/footer/footer
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")