extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Акции";
	- const page = "discounts"

block content
	.site-container
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/discounts/discounts
			include ../../blocks/modules/viewed-wares/viewed-wares
			include ../../blocks/modules/info/info
		include ../../blocks/modules/footer/footer
		include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")