extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Избранное";
	- const page = "favorites";

block content
	.site-container
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/catalog/catalog
			include ../../blocks/modules/wares/wares
			include ../../blocks/modules/viewed-wares/viewed-wares
			include ../../blocks/modules/banner/banner
			include ../../blocks/modules/info/info
		include ../../blocks/modules/footer/footer
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")