extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Блог";
	- const page = "blog";

block content
	.site-container
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/blog/blog
			include ../../blocks/modules/banner/banner
			include ../../blocks/modules/info/info
		include ../../blocks/modules/footer/footer
		include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")