extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Заказ № 3001921 от  21.07.2021";
	- const page = "order";

block content
	include ../../blocks/modules/header/header
	main.main
		include ../../blocks/modules/order/order
	include ../../blocks/modules/footer/footer
	include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")