extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Услуга";
	- const page = "service"

block content
	.site-container
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/service/service
			include ../../blocks/modules/questions/questions
		include ../../blocks/modules/footer/footer
		include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")