extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = 'Результаты поиска по запросу "Колцьа с изу"';
	- const page = "search-results";

block content
	.site-container
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/catalog/catalog
			include ../../blocks/modules/blog-news/blog-news
		include ../../blocks/modules/footer/footer
		include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")