section.we-work
    h2.visually-hidden Как мы работаем
    .container.we-work__container
        ul.we-work__list.list-reset
            li.we-work__item
                +icon("we-work-1")
                h3.g-title.g-title--center.we-work__caption Оплата при&nbsp;получении
                p.we-work__desc Оплачивайте заказ после проверки&nbsp;и примерки
            li.we-work__item
                +icon("we-work-2")
                h3.g-title.g-title--center.we-work__caption заказывайте изделия на выбор
                p.we-work__desc Выберите подходящий <br> размер или модель
            li.we-work__item
                +icon("we-work-3")
                h3.g-title.g-title--center.we-work__caption доставка <br> от 1 дня
                p.we-work__desc Пришлем фото изделия перед&nbsp;отправкой
            li.we-work__item
                +icon("we-work-4")
                h3.g-title.g-title--center.we-work__caption ГАРАНТИЯ <br> 2 ГОДА
                p.we-work__desc Починим изделие <br> или вернем деньги
            li.we-work__item
                +icon("we-work-5")
                h3.g-title.g-title--center.we-work__caption ручная гравировка с выбором шрифта
                p.we-work__desc Разместите символику и сделайте украшение индивидуальным