section.we-work
    .container.we-work__container
        h2.g-title.we-work__title.we-work__title--hidden Мы работаем без предоплаты
        h3.g-title.we-work__subtitle.we-work__subtitle--hidden оплачиваете заказ только после проверки и примерки
        img.we-work__image(src="img/no-image.svg", alt="")
        .we-work__right
            h2.g-title.we-work__title Мы работаем без предоплаты
            h3.g-title.we-work__subtitle оплачиваете заказ только после проверки и примерки
            h4.g-title.we-work__caption Оплачивайте заказ наличными в&nbsp;нашем офисе
            .we-work__desc
                span деньги можно снять на месте, в банкоматах бизнесс-центра
                +tooltip

            h4.g-title.we-work__caption Принимаем оплату по&nbsp;банковскии&nbsp;картам
            p.we-work__desc заказ можно оплатить в офисе
            img.we-work__pay(src="img/pay-cards.png", alt="Принимаем оплату по банковскии картам")
            h4.g-title.we-work__caption Беспроцентная рассрочка на&nbsp;4&nbsp;месяца
            .we-work__desc
                span храним изделие в сейфе 4 месяца до полной выплаты
                +tooltip