section.collection-section
    .container.collection-section__container
        h2.g-title.g-title--center.collection-section__title КОЛЛЕКЦИИ
        .swiper.collection-section-slider
            .swiper-wrapper
                .swiper-slide.collection-item
                    a.collection-item__image(href="#") 
                        img(src="img/collection-1.jpg", alt="коллекция моя прекрасная леди")
                    a.g-title.collection-item__title(href="#") моя прекрасная леди
                    a.g-link.collection-item__link(href="#") Посмотреть
                .swiper-slide.collection-item
                    a.collection-item__image(href="#") 
                        img(src="img/collection-2.jpg", alt="коллекция моя прекрасная леди")
                    a.g-title.collection-item__title(href="#") SHINE
                    a.g-link.collection-item__link(href="#") Посмотреть
                .swiper-slide.collection-item
                    a.collection-item__image(href="#") 
                        img(src="img/collection-3.jpg", alt="коллекция моя прекрасная леди")
                    a.g-title.collection-item__title(href="#") МИНИ
                    a.g-link.collection-item__link(href="#") Посмотреть
                .swiper-slide.collection-item
                    a.collection-item__image(href="#") 
                        img(src="img/collection-1.jpg", alt="коллекция моя прекрасная леди")
                    a.g-title.collection-item__title(href="#") моя прекрасная леди
                    a.g-link.collection-item__link(href="#") Посмотреть
                .swiper-slide.collection-item
                    a.collection-item__image(href="#") 
                        img(src="img/collection-2.jpg", alt="коллекция моя прекрасная леди")
                    a.g-title.collection-item__title(href="#") SHINE
                    a.g-link.collection-item__link(href="#") Посмотреть
                .swiper-slide.collection-item
                    a.collection-item__image(href="#") 
                        img(src="img/collection-3.jpg", alt="коллекция моя прекрасная леди")
                    a.g-title.collection-item__title(href="#") МИНИ
                    a.g-link.collection-item__link(href="#") Посмотреть
            button.btn-reset.g-slider-btn.g-slider-btn--prev.collection-section-slider__btn.collection-section-slider__btn--prev
                +icon("arrow")
            button.btn-reset.g-slider-btn.g-slider-btn--next.collection-section-slider__btn.collection-section-slider__btn--next
                +icon("arrow")
        a.g-btn.g-btn--stroke.collection-section__link(href="#") СМОТРЕТЬ ВСЕ КОЛЛЕКЦИИ