.store {
    &-list {
        display: none;
        padding-bottom: 38px;
        border-bottom: 1px solid rgba(#000, 0.2);
        margin-bottom: 85px;

        @media (max-width: 576px) {
            margin: 0 -10px 50px;
            padding: 0 10px 18px;
        }

        &--2 {
            padding-bottom: 0;
            border-bottom: none;
            height: 744px;

            @media (max-width: 1230px) {
                height: 550px;
            }

            /* @media (max-width: 1024px) {
                height: 400px;
            } */

            @media (max-width: 576px) {
                margin: 0 -10px 50px;
                padding: 0;
            }
        }

        &.g-filters__content--active {
            display: block;
        }

        &__wrapper {
            display: grid;
            row-gap: 40px;
            overflow: auto;
            grid-template-columns: repeat(2, 1fr);
            max-height: 664px;

            @media (max-width: 1024px) {
                max-height: 470px;
            }

            @media (max-width: 576px) {
                max-height: 670px;
            }
        }

        .simplebar-content {
            display: grid;
            row-gap: 40px;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: 1024px) {
                row-gap: 40px;
                grid-template-columns: 1fr;
            }

            @media (max-width: 768px) {
                row-gap: 30px;
            }

            @media (max-width: 576px) {
                row-gap: 20px;
            }

            &:before, &:after {
                display: none;
            }
        }

        .simplebar-track {
            width: 3px;
            height: 100% !important;
            margin-top: 0;

            @media (max-width: 576px) {
                right: 0;
            }

            &:before {
                height: 100%;
            }

            @media (min-width: 1250px) {
                display: block;
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
    &-item {
        display: flex;
        align-items: center;
        max-width: none;
    
        &__image {
            width: 219px;
            height: 136px;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
}