section.selection
    .container.selection__container
        .selection__item
            h2.g-title.selection__title ПОДОБРАТЬ УКРАШЕНИЕ:
            form.selection__form(action="#") 
                select.g-select(name="type decoration")
                    option(value="") Вид украшения
                    option(value="type-1") кольца
                    option(value="type-2") серьги
                    option(value="type-3") подвески
                    option(value="type-4") броши
                    option(value="type-5") колье
                    option(value="type-6") браслеты
                    option(value="type-7") цепи
                    option(value="type-8") запонки
                    option(value="type-9") зажимы для галстука
                select.g-select(name="type decoration")
                    option(value="") Материал
                    option(value="type-1") золото
                    option(value="type-2") серебро
                    option(value="type-3") латунь
                    option(value="type-4") медь
                    option(value="type-5") жемчуг
                    option(value="type-1") золото
                    option(value="type-2") серебро
                    option(value="type-3") латунь
                    option(value="type-4") медь
                    option(value="type-5") жемчуг
                    option(value="type-1") золото
                    option(value="type-2") серебро
                    option(value="type-3") латунь
                    option(value="type-4") медь
                    option(value="type-5") жемчуг
                select.g-select(name="type decoration")
                    option(value="") Вставка
                    option(value="type-1") без вставок
                    option(value="type-2") БРИЛЛИАНТ
                    option(value="type-3") САПФИР
                    option(value="type-4") ИЗУМРУД
                    option(value="type-5") РУБИН
                    option(value="type-6") АМЕТИСТ
                    option(value="type-7") ТОПАЗ
                    option(value="type-8") АКВАМАРИН
                    option(value="type-9") ГОРНЫЙ ХРУСТАЛЬ
                    option(value="type-10") ГРАНАТ
                    option(value="type-11") ДЕРЕВО
                    option(value="type-12") ЖЕМЧУГ
                    option(value="type-13") КВАРЦ
                    option(value="type-14") КОРУНД
                    option(value="type-15") ЛАЗУРИТ
                    option(value="type-16") МИНИАТЮРА
                    option(value="type-17") МОРГАНИТ
                    option(value="type-18") МОРИОН
                    option(value="type-19") ОБСИДИАН
                    option(value="type-20") ОФИОКАЛЬЦИТ
                    option(value="type-21") ФИАНИТ
                    option(value="type-22") ЦИТРИН
                button.btn-reset.g-btn.g-btn--black.selection__btn подобрать 