section.banner-discount
    .container.banner-discount__container
        h2.g-title.g-title--white.banner-discount__title Получите дополнительную скидку -5%
        h3.g-title.g-title--white.banner-discount__subtitle при ПОКУПКЕ online
        button.btn-reset.g-btn.g-btn--light.banner-discount__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="reduce-price" data-graph-speed="500") получить