extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	.site-container 
		include ../blocks/modules/header/header
		main.main
			include ../blocks/modules/hero/hero
			include ../blocks/modules/selection/selection
			include ../blocks/modules/popular-categories/popular-categories
			include ../blocks/modules/banner/banner
			include ../blocks/modules/logos/logos
			include ../blocks/modules/we-work/we-work
			include ../blocks/modules/collections-section/collections-section
			include ../blocks/modules/questions/questions
			include ../blocks/modules/info/info
		include ../blocks/modules/footer/footer
		//include ../blocks/modules/modal/modal
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")