section.guarantees
    .container.guarantees__container
        h2.g-title.g-title--center.guarantees__title ГАРАНТИРУЕМ 100% качество изделий
        h3.g-title.g-title--center.guarantees__subtitle подтверждаем сертификатами и клеймом пробирной полаты