.product {
    position: relative;

    &:before {
        @include pseudo();
        position: absolute;
        z-index: 3;
        top: -13px;
        right: -13px;
        bottom: -48px;
        left: -13px;
        width: calc(100% + 24px);
        border: 1px solid rgba(#a39d94, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        border-bottom: none;
    }

    &__caption {
        text-transform: uppercase;
        position: absolute;
        z-index: 3;
        top: 14px;
        left: 14px;
        font-size: 14px;
        line-height: 19px;
        color: #111;
    }

    &__favorite {
        display: block;
        position: absolute;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        top: 14px;
        right: 14px;
        width: 20px;
        height: 20px;
        transition: opacity 0.3s, visibility 0.3s;

        @media (min-width: 1025px) {
            &:hover {
                svg {
                    fill: #000;
                    stroke: #000;
                }
            }
        }

        @media (max-width: 1025px) {
            opacity: 1;
            visibility: visible;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            fill: transparent;
            transition: fill 0.3s, stroke 0.3s;
            stroke: rgba(#000, 0.5);
        }
    }

    &-details {
        position: absolute;
        z-index: 7;
        top: 100%;
        right: -12px;
        left: -12px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        background-color: #fff;
    }

    &__pag {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    &__title {
        display: block;
        position: relative;
        z-index: 4;
        margin: 0;
        font-size: 16px;
        line-height: 17px;
        font-weight: 300;
        color: rgba(#000, 0.5);
        margin-bottom: 8px;

        @media (max-width: 576px) {
            font-size: 14px;
        }
    }

    &__price {
        display: block;
        position: relative;
        z-index: 4;
        font-size: 16px;
        line-height: 12px;
        font-weight: 400;
        margin-bottom: 3px;
    }

    &__discount {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 4;
    }

    &__old-price {
        color: #a39d94;
        height: 10px;
        padding-top: 3px;
        margin-right: 11px;

        span {
            text-decoration-line: line-through;
        }
    }

    &__percent {
        display: block;
        font-size: 12px;
        line-height: 17px;
        height: 10px;
        border: 1px solid rgba(#000, 0.2);
        padding: 0 5px 4px 6px;
        color: rgba(#000, 0.5);
    }

    &__desc {
        margin: 13px 0 10px;
        font-size: 12px;
        line-height: 12px;
        color: rgba(#000, 0.5);
        padding: 0 14px;
    }

    &__to-cart {
        width: calc(100% + 2px);
        padding: 14.5px 0 12.5px;
        margin-left: -1px;
    }

    @include hover {
        &:before {
            opacity: 1;
            visibility: visible;
        }

        .product-details {
            opacity: 1;
            visibility: visible;
        }

        .product__favorite {
            opacity: 1;
            z-index: 6;
            visibility: visible;
        }

        .product__caption {
            z-index: 6;
        }

        .product__image {
            z-index: 3;
        }

        .product__pag {
            opacity: 1;
            visibility: visible;
        }
    }
}

.product__image {
    display: block;
    position: relative;
    height: 336px;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 21px;
    padding: 0 60px;

    @media (max-width: 1024px) {
        padding: 0 50px;
    }

    @media (max-width: 768px) {
        margin-bottom: 12px;
        padding: 0 35px;
        height: 250px;
    }

    @media (max-width: 576px) {
        height: 200px;
        padding: 0;
    }

    @media (max-width: 360px) {
        height: 170px;
    }
}

.image-switch {
    display: flex;
    position: absolute;
    z-index: 1;
    top: auto;
    left: auto;
    width: calc(100% - 120px);
    height: 100%;

    @media (max-width: 1024px) {
        width: calc(100% - 100px); 
    }

    @media (max-width: 768px) {
        width: calc(100% - 70px); 
    }

    @media (max-width: 576px) {
        width: 100%; 
    }
}

.image-switch__item {
    flex-grow: 1;
    cursor: pointer;

    @media (max-width: 1024px) {
        pointer-events: none;
        cursor: default;
    }
}

.image-switch__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s;

    &:before {
        @include pseudo();
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.02);
    }
}

.image-switch__img img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-switch__item:first-child .image-switch__img {
    opacity: 1;
    z-index: -1;
}

.image-switch__item:hover .image-switch__img {
    opacity: 1;
    z-index: -1;
}

.image-pagination {
    position: absolute;
    z-index: 30;
    left: 0;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.image-pagination__item {
    display: block;
    width: 37px;
    height: 2px;
    margin: 0 4px;
    background-color: #d9d9d9;
    transition: background-color 0.2s;
}

.image-pagination__item--active {
    background-color: rgba(#000, 0.5);
}

.filters-open {
    @media (max-width: 768px) {
        overflow: hidden;
    }
}

@media (min-width: 769px) {
    .filters-open .product__image {
        height: 300px;
    }
}