.sort-by {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    z-index: 10;

    @media (max-width: 576px) {
        display: block;
        margin-left: 0;
        width: 50%;
        z-index: 1000;
    }

    &__open {
        font-family: "HeliosExt", sans-serif;
        font-size: 12px;
        line-height: 12px;
        color: #111;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-right: 0;
        height: 100%;
        padding: 12px 0;
        width: 100%;
        justify-content: center;
        @media (min-width: 577px) {
            display: none;
        }
    }

    &.isOpen {
        .sort-by__list {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        .sort-by__current:after {
            transform: rotate(180deg);
        }

        @media (max-width: 576px) {
            .sort-by__select {
                opacity: 1;
                visibility: visible;
            }
    
            .sort-by__top {
                display: block;
            }
        }
    }

    &__caption {
        font-size: 12px;
        line-height: 17px;
        margin-right: 3px;
        color: #111;
        pointer-events: none;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__current {
        position: relative;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        padding-right: 28px;
        font-weight: 500;
        color: #111;
        cursor: pointer;
        @media (max-width: 576px) {
            display: none;
        }

        &:after {
            @include pseudo();
            position: absolute;
            top: -10px;
            right: 0;
            width: 28px;
            height: 28px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: transform 0.3s;
            background-image: url(../img/down.svg);
        }
    }

    &__select {
        min-width: 126px;

        @media (max-width: 576px) {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: calc(100% - 20px);
            min-width: auto;
            height: 100%;
            overflow: auto;
            padding: 0 10px;
            background-color: #fff;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }

    &__list {
        position: absolute;
        border-top: 1px solid #d9d9d9;
        top: calc(100% + 6px);
        right: 0;
        padding: 4px 0;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        filter: drop-shadow(0 2px 5px rgba(#000, 0.1));
        transition: opacity 0.3s, visibility 0.3s;

        @media (max-width: 576px) {
            position: static;
            top: 0;
            border: none;
            padding: 0;
            filter: none;
            opacity: 1;
            visibility: visible;
            display: none;
        }
    }

    &__item {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
        color: rgba(#000, 0.5);
        padding: 0 10px;
        cursor: pointer;
        transition: color 0.2s;

        @media (max-width: 576px) {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 10px;
        }

        &.active {
            color: #111;

            @media (max-width: 576px) {
                font-weight: 500;
            }
        }

        @include hover {
            color: #000;
        }
    }

    &__top {
        display: none;
        position: relative;
        padding: 27px 0 22px;
        margin-bottom: 16px;
        border-bottom: 1px solid #d9d9d9;

        @media (min-width: 769px) {
            display: none;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 27px;
        width: 26px;
        height: 26px;
        transform: translateY(-50%);
    }
}

.sort-open {
    @media (max-width: 768px) {
        overflow: hidden;
    }
}