.catalog {

    &__image {
        display: block;
        width: calc(100% - 10px);
        height: auto;
        object-fit: cover;
        padding: 0 5px;

        @media (min-width: 577px) {
            display: none;
        }
    }

    &__container {
        padding-top: 36px;
        padding-bottom: 88px;

        &--2 {
            padding-bottom: 0;

            @media (max-width: 1024px) {
                padding-bottom: 0;
            }
        }

        @media (max-width: 1024px) {
            padding-bottom: 28px;
        }

        @media (max-width: 576px) {
            padding-top: 28px;
        }
    }

    &__breadcrumbs {
        padding-bottom: 22px;
    }

    &__content {
        display: flex;
        margin-bottom: 56px;
    }

    &__title {
        margin-bottom: 77px;

        @media (max-width: 1024px) {
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            font-family: "HeliosExt", sans-serif;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__tabs {
        width: 100%;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 23px;

        @media (max-width: 576px) {
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            padding: 10px 0;
        }
    }

    &__quantity {
        display: block;
        font-size: 12px;
        line-height: 17px;
        color: #111;
        margin-right: 28px;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &-filters {
        padding-bottom: 50px;
        min-width: 162px;
        margin-right: 47px;

        @media (min-width: 769px) {
            display: none;
        }

        @media (max-width: 768px) {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            width: calc(100% - 52px);
            min-width: auto;
            height: 100%;
            overflow: auto;
            padding: 0 26px;
            background-color: #fff;
            transition: opacity 0.3s, visibility 0.3s;
        }

        &.isOpen {
            @media (min-width: 769px) {
                display: block;
            }

            @media (max-width: 768px) {
                opacity: 1;
                visibility: visible;
            }
        }

        &__btns {
            display: flex;
            flex-direction: column;

            @media (max-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                max-width: 450px;
                margin: 0 auto;
                padding-bottom: 44px;
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 41px;
            padding: 0;

            @include hover {
                &:hover {
                    border: 1px solid currentColor;
                }
            }

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            svg {
                display: block;
                flex-shrink: 0;
                width: 15px;
                height: 15px;
                margin-right: 8px;
                object-fit: cover;
                fill: currentColor;
            }
        }

        &__title {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }

        &__top {
            position: relative;
            margin: 0 -16px;
            padding: 27px 0 22px;
            margin-bottom: 16px;
            border-bottom: 1px solid #d9d9d9;

            @media (min-width: 769px) {
                display: none;
            }
        }

        &__close {
            position: absolute;
            top: 50%;
            right: 27px;
            width: 26px;
            height: 26px;
            transform: translateY(-50%);

            svg {
                fill: #111;
            }
        }

        &__reset {
            @media (max-width: 768px) {
                display: none;
            }
        }

        &__all-filters {

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &-filter {

        @media (max-width: 768px) {
            max-width: 450px;
            margin: 0 auto;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &.isOpen {
            .catalog-filter__toggle {
                transform: rotate(180deg);
            }

            .catalog-filter__bottom {
                max-height: 700px;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 7px;

            @media (max-width: 768px) {
                margin-top: 13px;
            }

            &--2 {
                display: grid;
                gap: 4px;
                margin-top: 8px;
                grid-template-columns: repeat(4, 1fr);

                @media (max-width: 768px) {
                    padding-right: 400px;
                    grid-template-columns: repeat(6, 1fr);
                }

                @media (max-width: 576px) {
                    gap: 10px;
                    grid-template-columns: repeat(5, 1fr);
                }
            }
        }

        &__item {
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: 14px;

                @media (max-width: 768px) {
                    margin-bottom: 20px;
                }
            }

            &--2 {
                &:not(:last-child) {
                    margin-bottom: 8px;

                    @media (max-width: 768px) {
                        margin-bottom: 15px;
                    }
                }
            }

            &--inner {
                margin-left: 16px;
            }

            &--hidden {
                display: none;
            }
        }

        &__txt {
            font-size: 12px;
            line-height: initial;
            height: 10px;
            color: #111;
            text-transform: uppercase;
            user-select: none;
            font-weight: 300;

            @media (max-width: 768px) {
                font-size: 16px;
                height: 13px;
            }
        }

        &__more {
            display: block;
            text-transform: initial;
            height: 11px;
            line-height: 1;
            border-bottom: 1px dashed currentColor;
        }

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6px 0 5px;
            cursor: pointer;
            user-select: none;

            &--2 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 6px 0 5px;
                user-select: none;
            }
        }

        &__title {
            height: 10px;
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 1;
            color: #111;
            text-transform: uppercase;

            @media (max-width: 768px) {
                font-size: 18px;
                height: 16px;
            }
        }

        &__toggle {
            display: block;
            width: 14px;
            height: 8px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/down2.svg);
            transition: transform 0.3s;
            margin-right: 7px;
        }

        &__bottom {
            max-height: 0;
            will-change: max-height;
            overflow: hidden;
            transition: max-height 0.3s;
        }

        &__label {
            display: flex;
            align-items: center;
            position: relative;
        }

        &__checkbox {
            position: absolute;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: pointer;
            outline: none;

            &:checked~.catalog-filter__switch {
                border: 1px solid #d9d9d9;
                background-color: #56323f;
            }
        }

        &__switch {
            position: relative;
            width: 14px;
            height: 14px;
            margin-right: 5px;
            border: 1px solid rgba(#000, 0.2);
            transition: background-color 0.3s, border 0.3s;
        }

        &__color {
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            border: 0.5px solid #a39d94;
            margin-right: 8px;
            margin-left: 4px;

            &--no-color {
                background-color: rgba(#000, 0.05);
            }

            &--white {
                background-color: #fff;
            }

            &--dark-blue {
                background-color: rgba(#3350b8, 0.7);
            }

            &--green {
                background-color: rgba(#1eb94d, 0.7);
            }

            &--red {
                background-color: rgba(#ff0024, 0.7);
            }

            &--yellow {
                background-color: rgba(#ffda0d, 0.7);
            }

            &--blue {
                background-color: rgba(#82cffb, 0.7);
            }

            &--purple {
                background-color: rgba(#9521bf, 0.7);
            }

            &--black {
                background-color: rgba(#000000, 0.7);
            }

            &--gray {
                background-color: rgba(#5e5e5e, 0.7);
            }

            &--pink {
                background-color: rgba(#ffaA96, 0.7);
            }

            &--orange {
                background-color: rgba(#ff8635, 0.7);
            }

            &--brown {
                background-color: rgba(#77411c, 0.7);
            }
        }
    }

    &-choice {
        margin-bottom: 16px;

        @media (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            max-width: 450px;
            margin: 0 auto 25px;
        }

        &__item {
            display: flex;
            align-items: center;
            color: #111;
            font-size: 14px;
            line-height: 19px;
            background-color: rgba(163, 157, 148, 0.3);
            border-radius: 100px;
            padding: 7px 7px 7px 11px;
            text-transform: uppercase;

            @media (max-width: 768px) {
                margin-right: 10px;
            }

            @include hover {
                svg {
                    fill: #000;

                    line {
                        stroke: #fff;
                    }
                }
            }

            span {
                height: 14px;
            }

            &:not(:last-child) {
                margin-bottom: 12px;

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }

            svg {
                display: block;
                width: 16px;
                height: 16px;
                object-fit: cover;
                margin-left: 4px;
                fill: #fff;
                transition: fill 0.3s;

                line {
                    stroke: rgba(#000, 0.5);
                    transition: stroke 0.3s;
                }
            }
        }

        &__reset {
            color: #fff;
            background-color: #a39d94;

            @media (max-width: 768px) {
                justify-content: center;
                width: 100%;
                border-radius: 0;
                font-size: 12px;
                font-family: "HeliosExt", sans-serif;
                font-weight: 400;
                padding: 12px 0 12px;
                margin-top: 7px;

                span {
                    height: 10px;
                    line-height: 1;
                }

                svg {
                    display: none;
                }
            }

            .reset {
                display: block;
                margin-right: 8px;

                @media (min-width: 769px) {
                    display: none;
                }
            }
        }
    }

    &-price {
        width: 100%;
        padding-bottom: 4px;

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        &__label {
            display: flex;
            align-items: center;

            @media (max-width: 768px) {
                width: 100%;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        &__txt {
            text-transform: initial;
            margin-right: 4px;

            @media (max-width: 768px) {
                margin-right: 10px;
            }
        }

        &__input {
            width: 61px;
            height: 38px;
            border: 1px solid #d9d9d9;
            padding: 0;
            outline: none;
            text-align: center;
            color: rgba(#000, 0.5);

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    &-grid {
        width: 100%;

        &__bottom {
            position: relative;

            &:not(:last-child) {
                margin-bottom: 89px;

                @media (max-width: 576px) {
                    margin-bottom: 60px;
                }
            }

            @media (max-width: 1024px) {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .catalog__more-products {
                    margin: 0;
                }
            }

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;

                .catalog__more-products {
                    margin: 0 auto 30px;
                }
            }
        }

        &__link {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-size: 16.5px;
            line-height: 23px;
            color: #111;
            font-weight: 400;
            text-transform: uppercase;

            @media (max-width: 1024px) {
                position: static;
                transform: none;
            }

            @media (max-width: 768px) {
                text-align: center;
            }
        }
    }

    &-list {
        display: grid;
        column-gap: 12px;
        row-gap: 28px;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 40px;

        &__title {
            margin-top: 12px;
            margin-bottom: 56px;
            font-size: 20px;
            line-height: 24px;

            @media (max-width: 576px) {
                margin-top: 22px;
                margin-bottom: 24px;
            }
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        &--2 {
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    &__benefits {
        margin: 77px 0 89px;
        border: 1px solid #a39d94;

        @media (max-width: 1024px) {
            display: none;
        }

        .benefits__list {
            display: grid;
            padding: 56px 92px 44px 68px;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__more-products {
        margin-bottom: 40px;
        padding: 14px 62.5px 13px 66.5px;
    }

    &__filters {
        margin-bottom: 41px;

        .simplebar-content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 1024px) {

            .simplebar-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .simplebar-placeholder {
                margin-bottom: 0;
            }
        }

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }
}

.filters-toggle {
    display: flex;
    align-items: center;
    padding: 8px 29.5px 7px 28.8px;
    margin-right: 47px;

    @media (max-width: 576px) {
        justify-content: center;
        width: 50%;
        margin-right: 0;
        border: none;
        border-right: 1px solid #d9d9d9;
        padding: 6px 0;
    }

    &.isOpen {
        .filters-toggle__icon-opened {
            display: none;
        }

        .filters-toggle__icon-closed {
            display: block;
        }
    }

    @media (min-width: 1025px) {
        &:hover {
            .filters-toggle__icon {
                fill: #fff;
            }
        }
    }

    &__icon {
        fill: #111;
        margin-right: 10px;
        transition: fill 0.3s;

        &-closed {
            display: none;
        }
    }

    &__quantity {
        display: none;
        min-width: 18px;
        font-size: 10px;
        line-height: 10px;
        color: #111;
        background-color: #eee;
        padding: 4px 0 3px;
        margin-left: 6px;

        @media (max-width: 576px) {
            display: block;
        }
    }
}

.stone-shape {
    &__checkbox {

        &:checked~.stone-shape__icon {
            opacity: 1;
        }
    }

    &__icon {
        display: block;
        width: 36px;
        height: 36px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: opacity 0.3s;
        opacity: 0.4;

        &--1 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_603_11426' fill='white'%3E%3Cpath d='M29 3V33H7V3H29ZM30 2H6V34H30V2Z'/%3E%3C/mask%3E%3Cpath d='M29 3V33H7V3H29ZM30 2H6V34H30V2Z' fill='%23A39D94'/%3E%3Cpath d='M29 3H30V2H29V3ZM29 33V34H30V33H29ZM7 33H6V34H7V33ZM7 3V2H6V3H7ZM30 2H31V1H30V2ZM6 2V1H5V2H6ZM6 34H5V35H6V34ZM30 34V35H31V34H30ZM28 3V33H30V3H28ZM29 32H7V34H29V32ZM8 33V3H6V33H8ZM7 4H29V2H7V4ZM30 1H6V3H30V1ZM5 2V34H7V2H5ZM6 35H30V33H6V35ZM31 34V2H29V34H31Z' fill='%23111111' mask='url(%23path-1-inside-1_603_11426)'/%3E%3Cmask id='path-3-inside-2_603_11426' fill='white'%3E%3Cpath d='M27 5V31H9V5H27ZM28 4H8V32H28V4Z'/%3E%3C/mask%3E%3Cpath d='M27 5V31H9V5H27ZM28 4H8V32H28V4Z' fill='%23A39D94'/%3E%3Cpath d='M27 5H28V4H27V5ZM27 31V32H28V31H27ZM9 31H8V32H9V31ZM9 5V4H8V5H9ZM28 4H29V3H28V4ZM8 4V3H7V4H8ZM8 32H7V33H8V32ZM28 32V33H29V32H28ZM26 5V31H28V5H26ZM27 30H9V32H27V30ZM10 31V5H8V31H10ZM9 6H27V4H9V6ZM28 3H8V5H28V3ZM7 4V32H9V4H7ZM8 33H28V31H8V33ZM29 32V4H27V32H29Z' fill='%23111111' mask='url(%23path-3-inside-2_603_11426)'/%3E%3Cmask id='path-5-inside-3_603_11426' fill='white'%3E%3Cpath d='M25 7V29H11V7H25ZM26 6H10V30H26V6Z'/%3E%3C/mask%3E%3Cpath d='M25 7V29H11V7H25ZM26 6H10V30H26V6Z' fill='%23A39D94'/%3E%3Cpath d='M25 7H26V6H25V7ZM25 29V30H26V29H25ZM11 29H10V30H11V29ZM11 7V6H10V7H11ZM26 6H27V5H26V6ZM10 6V5H9V6H10ZM10 30H9V31H10V30ZM26 30V31H27V30H26ZM24 7V29H26V7H24ZM25 28H11V30H25V28ZM12 29V7H10V29H12ZM11 8H25V6H11V8ZM26 5H10V7H26V5ZM9 6V30H11V6H9ZM10 31H26V29H10V31ZM27 30V6H25V30H27Z' fill='%23111111' mask='url(%23path-5-inside-3_603_11426)'/%3E%3Cmask id='path-7-inside-4_603_11426' fill='white'%3E%3Cpath d='M23 9V27H13V9H23ZM24 8H12V28H24V8Z'/%3E%3C/mask%3E%3Cpath d='M23 9V27H13V9H23ZM24 8H12V28H24V8Z' fill='%23A39D94'/%3E%3Cpath d='M23 9H24V8H23V9ZM23 27V28H24V27H23ZM13 27H12V28H13V27ZM13 9V8H12V9H13ZM24 8H25V7H24V8ZM12 8V7H11V8H12ZM12 28H11V29H12V28ZM24 28V29H25V28H24ZM22 9V27H24V9H22ZM23 26H13V28H23V26ZM14 27V9H12V27H14ZM13 10H23V8H13V10ZM24 7H12V9H24V7ZM11 8V28H13V8H11ZM12 29H24V27H12V29ZM25 28V8H23V28H25Z' fill='%23111111' mask='url(%23path-7-inside-4_603_11426)'/%3E%3Cpath d='M23.5 27.5L29.417 33.417' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M12.48 27.5L6.56396 33.417' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M23.5 8.48289L29.417 2.56689' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M12.48 8.48289L6.56396 2.56689' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--2 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 23.775C28 29.2 23.9795 34 18.0026 34C12.0257 34 8 29.203 8 23.775C8 16.904 11.9466 9.017 17.9974 2C24.0493 9.02 28 16.907 28 23.775Z' stroke='%23111111'/%3E%3Cpath d='M11 13V20L14 29L15 31L18 34' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M14 7L25.1449 20.1885L28 24' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M22 7L10.8341 20.2161L8 24' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M20 9L25 13V20L22 29L21 31L18 34' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M16 9L11 13V20L14 29L15 31L18 34' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M25 20L27 18' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M11 20L9 18' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M28 24.276L25.231 27L15.066 31L11.1809 30.834L11 27L18.1155 2' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M8 24.13L10.8913 27L20.9689 31L24.8428 30.834L25 27L17.9456 2' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--3 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='18' cy='18' r='15.5' stroke='%23111111'/%3E%3Crect x='14.1505' y='8.65382' width='14.295' height='14.295' transform='rotate(22.6153 14.1505 8.65382)' stroke='%23111111'/%3E%3Crect x='27.3306' y='21.8875' width='14.295' height='14.295' transform='rotate(157.615 27.3306 21.8875)' stroke='%23111111'/%3E%3Cpath d='M18 2.7757L22.0618 7.59337L22.2297 7.79254L22.4892 7.76904L28.8028 7.19721L28.231 13.5108L28.2075 13.7703L28.4066 13.9382L33.2243 18L28.4066 22.0618L28.2075 22.2297L28.231 22.4892L28.8028 28.8028L22.4892 28.231L22.2297 28.2075L22.0618 28.4066L18 33.2243L13.9382 28.4066L13.7703 28.2075L13.5108 28.231L7.19721 28.8028L7.76904 22.4892L7.79254 22.2297L7.59337 22.0618L2.7757 18L7.59337 13.9382L7.79254 13.7703L7.76904 13.5108L7.19721 7.19721L13.5108 7.76904L13.7703 7.79254L13.9382 7.59337L18 2.7757Z' stroke='%23111111'/%3E%3Cpath d='M8.84615 21.7692L4 23.7931M8.82759 14.1379L4 12.2069M14.1379 8.82759L12.2069 4M21.8621 8.82759L23.7931 4M27.1724 14.1379L32 12.2069M27.1724 21.8621L32 23.7931M21.8621 27.1724L23.7931 32M14.1379 27.1724L12.2069 32' stroke='%23111111'/%3E%3C/svg%3E%0A");
        }

        &--4 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.604 2.5H26.396C30.3194 2.5 33.5 5.68057 33.5 9.604V26.396C33.5 30.3194 30.3194 33.5 26.396 33.5H9.604C5.68057 33.5 2.5 30.3194 2.5 26.396V9.604C2.5 5.68057 5.68057 2.5 9.604 2.5Z' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M25 12L24 6' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M31 4V13L25 12' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 2.5L24 6L31 4' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M26 2.5L24 6L18 9L25 12L27 18L31 13' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M33.5 10.5L31 13L33 18L31 23' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M31 32L23 30M23 30L18 27L25 24L23 30Z' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M33.5 25.5L31 23M31 23L27 18L25 24L31 23ZM31 23V31.5' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18.5 33.5L23 30L24.5 33.5' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M11 12L12 6' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M5 4.5V13L11 12' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 2.5L12 6L5 4' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M10 2.5L12 6L18 9L11 12L9 18L5 13' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M2.5 10.5L5 13L3 18L5 23' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M4.5 31.5L13 30M13 30L18 27L11 24L13 30Z' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M2.5 25.5L5 23M5 23L9 18L11 24L5 23ZM5 23V31.5' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M17.5 33.5L13 30L11.5 33.5' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--5 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 18C26 28 18 34 18 34C18 34 10 28 10 18C10 8 18 2 18 2C18 2 26 8 26 18Z' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M24 26L20 30' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 2L20 7L22.986 24L24 26' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 34L19.986 28.986L23 13L24 10L20 6' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M12.476 27.3569L16 29.9999' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 2L16 7L12.986 24L12.11 26.665' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M26 18L22.986 24L20.604 26L18 28L15.429 26L12.986 24L10 18' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M10 18L13 13L15 11L18 8L21 11L23 13L26 18' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M21 5L18 8L15 5' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 28L15 30.986' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M21 30.986L18 28' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M16 6L12 10L13 13L15.986 28.986L18 34' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--6 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 34C23.5228 34 28 26.8366 28 18C28 9.16344 23.5228 2 18 2C12.4772 2 8 9.16344 8 18C8 26.8366 12.4772 34 18 34Z' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 2L21 7L25 23V29L21 28L18 26L22 24L25 23L28 18' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M22 3L21 7H25V13L22 24L21 28L18 34' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M27 12L25 13L28 17' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M21 28L22 33' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M25 23L27 24' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M25 13L18 9L21 7' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 2L15 7L11 23V29L15 28L18 26L14 24L11 23L8 18' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M14 3L15 7H11V13L14 24L15 28L18 34' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M9 12L11 13L8 17' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M15 28L14 33' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M11 23L9 24' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M11 13L18 9L15 7' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--7 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 8L23.677 2.646' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M23 9.99982L27.432 7.34082' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M15 8L12.323 2.646' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M13 10.0001L8.55103 7.33105' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M21 28L23.728 33.456' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M23 26L27.428 28.657' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M23.519 3L27 7.351V28.651L23.519 33H12.481L9 28.649V7.351L12.481 3H23.519ZM24 2H12L8 7V29L12 34H24L28 29V7L24 2Z' fill='%23111111'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 30L11 26.979V9.021L14 6H22L25 9.021V26.979L22 30H14Z' stroke='%23111111' stroke-width='1.01835' stroke-miterlimit='10'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 28L13 26V10L15 8H21L23 10V26L21 28H15Z' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M15 28L12.3 33.4' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M13 26L8.52698 28.684' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--8 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33 33H3V3H18H33V33Z' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M33 3L29.25 4.875L18 3L6.75 4.875L3 3' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M33 33L31.125 29.25L33 18L31.125 6.75L33 3' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M3 33L6.75 31.125L18 33L29.25 31.125L33 33' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M3 3L4.875 6.75L3 18L4.875 29.25L3 33' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M6.75 31.125L7.675 28.3L4.875 6.75L7.687 7.688L29.25 4.875L28.313 7.688L31.125 29.25L28.313 28.3L6.75 31.125Z' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M29.25 31.125H6.75' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M31.125 6.75V29.25' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M29.25 4.875H6.75' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3Cpath d='M4.875 6.75V29.25L7.675 28.3L29.25 31.125L28.313 28.3L31.125 6.75L28.313 7.688L6.75 4.875L7.583 7.7L4.875 29.25' stroke='%23111111' stroke-width='0.9375' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--9 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6.00069C17.2964 4.76993 16.2761 3.74992 15.0452 3.04654C13.8143 2.34317 12.4176 1.98205 11 2.00069C9 2.00069 2 3.00069 2 11.0007C2 22.0007 9 29.0007 18 34.0007C27 29.0007 34 22.0007 34 11.0007C34 6.17969 31.458 3.90069 29 2.85069C27.733 2.31521 26.3753 2.0267 25 2.00069C23.5824 1.98205 22.1857 2.34317 20.9548 3.04654C19.7239 3.74992 18.7036 4.76993 18 6.00069V6.00069Z' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 8.00049L24 5.00049L29 3.00049' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 6.00049V8.00049' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M29 3.00049V8.00049L25 21.0005L20 28.0005L18 34.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M29 8.00049L34 12.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M30 17.0005L34 12.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M24 2.00049V5.00049L19.5 4' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M24 5.00049L25 8.00049L30 17.0005L29 25.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M20 28.0005L24 30.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M29 25.0005L20 28.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M33 18.0005L30 17.0005L25 21.0005L18 25.0005L20 28.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 8.00049L12 5.00049L7 3.00049' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 6.00049V8.00049' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M7 3.00049V8.00049L11 21.0005L16 28.0005L18 34.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M4 5.00049L7 8.00049H18H29L32 5.00049' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M7 8.00049L2 12.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M6 17.0005L2 12.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M12 2.00049V5.00049L16.5 4' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M12 5.00049L11 8.00049L6 17.0005L7 25.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M16 28.0005L12 30.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M7 25.0005L16 28.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M3 18.0005L6 17.0005L11 21.0005L18 25.0005L16 28.0005' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--10 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 34L9 33L2 30L3 22L7 14L12 7L18 2L24 7L29 14L33 22L34 30L27 33L18 34Z' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M2 30L5 24L18 11L24 7' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M34 30H27L18 29L9 30H2' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M12 7L18 11L31 24L34 30' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M3 22L5 24L9 26L18 29L26 26L31 24L33 22' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 2L22 9L25 18L27 25V33' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M18 2L14 9L11 18L9 25V33' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M9 30L18 34L27 30' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M22 8L29 14L31 24' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M14 8L7 14L5 24' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--11 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.586 3L33 7.414V28.586L28.586 33H7.414L3 28.586V7.414L7.414 3H28.586ZM29 2H7L2 7V29L7 34H29L34 29V7L29 2Z' fill='%23111111'/%3E%3Cpath d='M26.523 6L30 9.477V26.523L26.523 30H9.477L6 26.523V9.531L10.237 6H26.523ZM26.938 5H9.875L5 9.063V26.938L9.063 31H26.938L31 26.938V9.063L26.938 5Z' fill='%23111111'/%3E%3Cpath d='M24.461 9L27 11.539V24.461L24.461 27H11.539L9 24.461V11.593L12.112 9H24.461ZM24.875 8H11.75L8 11.125V24.875L11.125 28H24.875L28 24.875V11.125L24.875 8Z' fill='%23111111'/%3E%3Cpath d='M28.722 2.5L24.611 8.556' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M33.528 7.16699L27.469 11.293' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M7.41394 2.5L11.5249 8.556' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M2.60803 7.16699L8.66703 11.293' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M28.722 33.6422L24.722 27.5562' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M33.569 28.875L27.486 24.583' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M7.34705 33.5828L11.319 27.5278' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M2.58301 28.7642L8.55601 24.6812' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }

        &--12 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.586 3L29 6.414V29.586L25.586 33H10.414L7 29.586V6.414L10.414 3H25.586ZM26 2H10L6 6V30L10 34H26L30 30V6L26 2Z' fill='%23111111'/%3E%3Cpath d='M24.17 5L27 7.83V28.17L24.17 31H11.83L9 28.17V7.83L11.83 5H24.17ZM24.584 4H11.416L8 7.416V28.584L11.416 32H24.584L28 28.584V7.416L24.584 4V4Z' fill='%23111111'/%3E%3Cpath d='M22.757 7L25 9.243V26.757L22.757 29H13.243L11 26.757V9.243L13.243 7H22.757V7ZM23.172 6H12.828L10 8.828V27.172L12.828 30H23.172L26 27.172V8.828L23.172 6V6Z' fill='%23111111'/%3E%3Cpath d='M21.35 9L23 10.65V25.35L21.35 27H14.65L13 25.35V10.65L14.65 9H21.35ZM21.764 8H14.236L12 10.236V25.764L14.236 28H21.764L24 25.764V10.236L21.764 8V8Z' fill='%23111111'/%3E%3C/svg%3E%0A");
        }

        &--13 {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_615_12474' fill='white'%3E%3Cpath d='M27.473 3L33 8.527V27.6L27.473 33.127H8.527L3 27.6V8.527L8.527 3H27.473ZM27.887 2H8.113L2 8.113V28.013L8.113 34.126H27.887L34 28.012V8.113L27.887 2Z'/%3E%3C/mask%3E%3Cpath d='M27.473 3L33 8.527V27.6L27.473 33.127H8.527L3 27.6V8.527L8.527 3H27.473ZM27.887 2H8.113L2 8.113V28.013L8.113 34.126H27.887L34 28.012V8.113L27.887 2Z' fill='%23111111'/%3E%3Cpath d='M27.473 3L28.1801 2.29289L27.8872 2H27.473V3ZM33 8.527H34V8.11279L33.7071 7.81989L33 8.527ZM33 27.6L33.7071 28.3071L34 28.0142V27.6H33ZM27.473 33.127V34.127H27.8872L28.1801 33.8341L27.473 33.127ZM8.527 33.127L7.81989 33.8341L8.11279 34.127H8.527V33.127ZM3 27.6H2V28.0142L2.29289 28.3071L3 27.6ZM3 8.527L2.29289 7.81989L2 8.11279V8.527H3ZM8.527 3V2H8.11279L7.81989 2.29289L8.527 3ZM27.887 2L28.5941 1.29289L28.3012 1H27.887V2ZM8.113 2V1H7.69879L7.40589 1.29289L8.113 2ZM2 8.113L1.29289 7.40589L1 7.69879V8.113H2ZM2 28.013H1V28.4272L1.29289 28.7201L2 28.013ZM8.113 34.126L7.40589 34.8331L7.69879 35.126H8.113V34.126ZM27.887 34.126V35.126H28.3013L28.5942 34.833L27.887 34.126ZM34 28.012L34.7072 28.719L35 28.4262V28.012H34ZM34 8.113H35V7.69879L34.7071 7.40589L34 8.113ZM26.7659 3.70711L32.2929 9.23411L33.7071 7.81989L28.1801 2.29289L26.7659 3.70711ZM32 8.527V27.6H34V8.527H32ZM32.2929 26.8929L26.7659 32.4199L28.1801 33.8341L33.7071 28.3071L32.2929 26.8929ZM27.473 32.127H8.527V34.127H27.473V32.127ZM9.23411 32.4199L3.70711 26.8929L2.29289 28.3071L7.81989 33.8341L9.23411 32.4199ZM4 27.6V8.527H2V27.6H4ZM3.70711 9.23411L9.23411 3.70711L7.81989 2.29289L2.29289 7.81989L3.70711 9.23411ZM8.527 4H27.473V2H8.527V4ZM27.887 1H8.113V3H27.887V1ZM7.40589 1.29289L1.29289 7.40589L2.70711 8.82011L8.82011 2.70711L7.40589 1.29289ZM1 8.113V28.013H3V8.113H1ZM1.29289 28.7201L7.40589 34.8331L8.82011 33.4189L2.70711 27.3059L1.29289 28.7201ZM8.113 35.126H27.887V33.126H8.113V35.126ZM28.5942 34.833L34.7072 28.719L33.2928 27.305L27.1798 33.419L28.5942 34.833ZM35 28.012V8.113H33V28.012H35ZM34.7071 7.40589L28.5941 1.29289L27.1799 2.70711L33.2929 8.82011L34.7071 7.40589Z' fill='%23111111' mask='url(%23path-1-inside-1_615_12474)'/%3E%3Cpath d='M8.5 2.5L11 11' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M25 11L27.5 2.5' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M33.5 8.5L25 11' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M2.5 8.5L11 11' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M25 25L33.5 27.5' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M27.5 33.5L25 25' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M8.5 33.5L11 25' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M2.5 27.5L11 25' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M31 27V9L27 5H9L5 9V27L9 31H27L31 27ZM31 27L27 18L25 11L18 9L9 5' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M27 5L18 9L11 11L10 18L11 25L18 27L27 31' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M31 9L27 18L25 25L18 27L9 31' stroke='%23111111' stroke-miterlimit='10'/%3E%3Cpath d='M5 9L10 18L5 27' stroke='%23111111' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
    }
}

.favorites {

    &__title {
        margin-bottom: 46px;
    }

    &__clear {
        font-size: 12px;
        line-height: 17px;
        font-weight: 300;
        margin-left: auto;
        margin-right: 18px;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &-list {
        &__title {
            margin-top: 87px;
        }
    }

    &__sort-by.sort-by {
        margin-left: 0;
    }

    &__filters-toggle {
        @media (min-width: 769px) {
            display: none;
        }
    }

    &__catalog-filters {
        @media (min-width: 769px) {
            display: block;
        }
    }
}