.news {

    &__container {
        padding-top: 41px;
        padding-bottom: 86px;
    }

    &__breadcrumbs {
        padding-bottom: 23px;
    }

    &__title {
        font-family: "HeliosExtLight", sans-serif;
        font-weight: 300;
        margin-bottom: 54px;
    }

    &-content {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 56px;

        &__time {
            font-size: 20px;
            font-family: "HeliosExtLight", sans-serif;
            font-weight: 300;
        }

        &__image {
            width: 50%;
            height: 464px;
            margin-right: 20px;
        }

        &__title {
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 44px;
        }

        &__desc {
            position: relative;
            padding-top: 25px;
            margin-bottom: 28px;

            &:before {
                @include pseudo();
                position: absolute;
                top: 0;
                left: 0;
                width: 173px;
                height: 1px;
                background-color: #000;
            }
        }

        &__link {
            display: inline-block;
            text-transform: uppercase;
            color: #111;
            font-family: "HeliosExtLight", sans-serif;
            font-weight: 300;
        }
    }
}