.logos
    .logos__container
        .swiper.logos-slider.swiper-no-swiping
            .swiper-wrapper
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")
                .swiper-slide.logos__item
                    +icon("logo2")