.logos {
    &__container {
        padding-top: 160px;
        padding-bottom: 72px;
        @media (max-width: 768px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &__item {
        width: auto;
        svg {
            display: block;
            width: 580px;
            height: 83px;
        }
    }
}