.fslightbox {
    &-slide-btn {
        padding: 0 !important;
        &-container {
            width: 40px;
            height: 40px;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #fff !important;
            padding: 0 !important;

            &-previous {
                left: 20px !important;
                background-image: url(../img/svg/arrow.svg);
            }

            &-next {
                position: relative;
                right: 20px !important;
                transform: translateY(-50%) rotate(180deg) !important;
                background-image: url(../img/svg/arrow.svg);
            }
        }
        
        svg {
            display: none;
        }
    }
}