.g-breadcrumbs {
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        position: relative;
        padding-right: 5px;
        margin-right: 6px;

        &:not(:last-child) {
            &:after {
                @include pseudo();
                position: absolute;
                top: calc(50% - 1px);
                right: 0;
                width: 0.4px;
                height: 50%;
                transform: translateY(-50%);
                background-color: rgba(#000, 0.5);
            }
        }
    }

    &__link {
        font-size: 14px;
        line-height: 19px;
        color: rgba(#000, 0.5);
        transition: color 0.3s;

        @media (max-width: 576px) {
            font-size: 12px;
            line-height: 18px;
        }

        &:hover {
            color: #111;
        }
        &:not([href]) {
            color: #111;
        }
    }
}