.g-input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 0;
    height: 36px;
    border: 1px solid #a39d94;
    font-size: 12px;
    line-height: 17px;
    color: #111;
    text-transform: uppercase;
    padding: 2px 10px 0;
    font-weight: 300;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: top 50% right;
    background-color: #fff;

    &-password {
        position: relative;

        &__input {
            background-position: top 50% right 30px;
        }

        &__btn {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1px;
            width: 28px;
            height: 28px;
            object-fit: cover;
        }
    }

    &-date {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 17.1113L14 10L7 17.1112L7.87485 18L14 11.7775L20.1252 18L21 17.1113Z' fill='%23111111'/%3E%3C/svg%3E%0A");
    }

    &::placeholder {
        color: #a39d94;
    }

    &.error {
        border-bottom: 1px solid #cc0000;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.74363 8.24606C8.49925 7.42446 9.40929 6.75974 10.4218 6.28984C11.4343 5.81995 12.5295 5.55408 13.6447 5.50743C14.76 5.46077 15.8735 5.63424 16.9217 6.01793C17.97 6.40162 18.9323 6.98801 19.7539 7.74363C20.5755 8.49925 21.2403 9.40929 21.7102 10.4218C22.1801 11.4343 22.4459 12.5295 22.4926 13.6447C22.5392 14.76 22.3658 15.8735 21.9821 16.9217C21.5984 17.97 21.012 18.9323 20.2564 19.7539C19.5008 20.5755 18.5907 21.2403 17.5782 21.7102C16.5657 22.1801 15.4705 22.4459 14.3553 22.4926C13.24 22.5392 12.1265 22.3658 11.0783 21.9821C10.03 21.5984 9.06766 21.012 8.24606 20.2564C7.42446 19.5008 6.75974 18.5907 6.28984 17.5782C5.81995 16.5657 5.55408 15.4705 5.50743 14.3553C5.46077 13.24 5.63424 12.1265 6.01793 11.0783C6.40162 10.03 6.98801 9.06766 7.74363 8.24606L7.74363 8.24606Z' stroke='%23CC0000'/%3E%3Cpath d='M13 18H14.5V19.5H13V18Z' fill='%23CC0000'/%3E%3Cpath d='M13 9H14.5V17H13V9Z' fill='%23CC0000'/%3E%3C/svg%3E%0A");
    }

    &.valid {
        border-bottom: 1px solid #008315;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 15L12 18L19 11L18 10L12 16L10 14L9 15Z' fill='%23008315'/%3E%3Cpath d='M7.74363 8.24606C8.49925 7.42446 9.40929 6.75974 10.4218 6.28984C11.4343 5.81995 12.5295 5.55408 13.6447 5.50743C14.76 5.46077 15.8735 5.63424 16.9217 6.01793C17.97 6.40162 18.9323 6.98801 19.7539 7.74363C20.5755 8.49925 21.2403 9.40929 21.7102 10.4218C22.1801 11.4343 22.4459 12.5295 22.4926 13.6447C22.5392 14.76 22.3658 15.8735 21.9821 16.9217C21.5984 17.97 21.012 18.9323 20.2564 19.7539C19.5008 20.5755 18.5907 21.2403 17.5782 21.7102C16.5657 22.1801 15.4705 22.4459 14.3553 22.4926C13.24 22.5392 12.1265 22.3658 11.0783 21.9821C10.03 21.5984 9.06766 21.012 8.24606 20.2564C7.42446 19.5008 6.75974 18.5907 6.28984 17.5782C5.81995 16.5657 5.55408 15.4705 5.50743 14.3553C5.46077 13.24 5.63424 12.1265 6.01793 11.0783C6.40162 10.03 6.98801 9.06766 7.74363 8.24606L7.74363 8.24606Z' stroke='%23008315'/%3E%3C/svg%3E%0A");
    }
}