.g-input {
    outline: none;
    opacity: 1;
    border-radius: 0;
    height: 37px;
    border: 1px solid currentColor;
    font-size: 12px;
    line-height: 17px;
    color: #a39d94;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 300;
}