.g-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        margin: 0 9px;

        @media (max-width: 576px) {
            &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                display: none;
            }
        }
    }

    &__link {
        display: block;
        font-size: 18px;
        line-height: 22px;
        color: rgba(#000, 0.2);
        transition: color 0.3s;

        @include hover {
            color: #111;
            svg {
                fill: #111;
            }
        }

        svg {
            display: block;
            flex-shrink: 0;
            width: 11px;
            height: 20px;
            fill: rgba(#000, 0.5);
            transition: fill 0.3s;
        }
        
        &--current {
            color: #111;
        }

        &--next {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}