.g-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        margin: 0 9px;
    }

    &__link {
        display: block;
        font-size: 18px;
        line-height: 22px;
        color: rgba(#000, 0.2);
        transition: color 0.3s;

        &:hover {
            svg {
                fill: #111;
            }
        }

        svg {
            display: block;
            width: 11px;
            height: 20px;
            fill: rgba(#000, 0.5);
            transition: fill 0.3s;
            flex-shrink: 0;
        }

        &:hover {
            color: #111;
        }

        &--current {
            color: #111;
        }

        &--next {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}