.g-select {
    height: 41px;
    padding: 0 44px;
}

.choices {
    margin-bottom: 0;
    min-width: 240px;


    &:not(.is-open) {
        @include hover {
            .choices__inner:after {
                opacity: 1;
            }
        }
    }

    &.is-open {
        .choices__inner:after {
            z-index: 2;
            opacity: 1;
            transform: translateY(-50%) rotate(180deg);
        }
    }

    @media (max-width: 1440px) {
        min-width: vw(240);
    }


    &:after {
        display: none;
    }

    &__inner {
        position: relative;
        width: calc(100% - 52px);
        min-height: auto;
        background-color: #fff;
        border: 1px solid #A39D94 !important;
        border-radius: 0;
        padding: 12px 36px 8px 14px !important;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: #a39d94;

        &:after {
            @include pseudo();
            position: absolute;
            top: 50%;
            right: 7px;
            width: 28px;
            height: 28px;
            transform: translateY(-50%);
            opacity: 0.5;
            background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10.8887L14 18L21 10.8887L20.1252 10L14 16.2225L7.87484 10L7 10.8887Z' fill='%23111111'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 0.2s, opacity 0.3s;
        }
    }

    &__list {
        &::-webkit-scrollbar-track {
            background-color: #fff;
        }

        &::-webkit-scrollbar {
            width: 3px;
            background-color: #fff;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.5);
        }

        &--single {
            padding: 0;
            text-transform: uppercase;

            .choices__placeholder {
                display: block;
            }
        }

        &--dropdown {
            margin-top: -41px;
            border-radius: 0;
            padding-right: 14px;
            width: calc(100% - 16px);
            border: 1px solid #A39D94 !important;
            opacity: 0;
            transition: opacity 0.3s, visibility 0.3s;

            &.is-active {
                opacity: 1;
            }

            .choices__item {
                padding: 4px 36px;
            }
        }
    }

    &__item--choice {
        font-size: 14px;
        line-height: 19px;
        color: #a39d94;
        text-transform: uppercase;
        font-weight: 400;
        padding-left: 0 !important;
        padding-right: 0 !important;
        transition: color 0.2s;

        &:hover {
            color: #111;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-purple);
        }
    }

    &__item {
        &--selectable {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }
    }
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 0 !important;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #fff;
}

.is-open {
    .choices__inner {
        border-radius: 0;
    }
}

.choices__list--dropdown .choices__list {
    max-height: 134px;
    margin: 16px 0;
    padding: 0 20px;
    overflow-x: hidden;
}

.choices__placeholder {
    display: none;
    opacity: 1;
}

.is-flipped.is-open .choices__inner {
    border-radius: 0;
}

.is-flipped .choices__list--dropdown {
    margin-bottom: -1px;
    border-radius: 0;
    top: 100%;
    bottom: auto;
    margin-top: -41px;
}

.choices[data-type*="select-one"] .choices__input {
    border-bottom: 1px solid #a39d94;
    width: calc(100% - 40px);
    padding: 11px 40px 9px 14px !important;
    line-height: 19px;
}