.switch-tabs {

    &__list {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        @media (max-width: 576px) {
            justify-content: center;
        }
    }

    &__content {
        display: none;
        width: 100%;

        &--active {
            display: block;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__btn {
        position: relative;
        font-family: "TTCommons", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        color: rgba(#000, .5);

        @media (max-width: 576px) {
            font-size: 14px;
            line-height: 14px;
        }

        &:hover {
            color: #111;
            &:after {
                left: 0;
                width: 100%;
            }
        }

        &:after {
            @include pseudo();
            position: absolute;
            right: 0;
            bottom: 0;
            left: auto;
            width: 0;
            height: 1px;
            background-color: currentColor;
            transition: width 0.3s;
        }

        &--active {
            color: #111;
            &:after {
                width: 100%;
            }
        }
    }
}