.g-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    border: 1px solid transparent;

    @media (max-width: 1240px) {
        margin-bottom: 24px;
    }

    &.active {
        margin-bottom: 10px;

        .simplebar-content {
            flex-wrap: wrap;
        }

        .simplebar-placeholder {
            margin-bottom: 0;
        }
    }

    .simplebar-content {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-bottom: 10px;

        &--hidden {
            display: none;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__btn {
        position: relative;
        z-index: 11;
        white-space: nowrap;
        display: block;
        color: rgba(#000, 0.5);
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid rgba(#000, 0.5);
        padding: 7.5px 17px 3.5px 14px;
        line-height: 16.4px;
        font-weight: 400;
        border-radius: 73px;
        transition: background-color 0.3s, color 0.3s, border 0.3s;

        svg {
            display: none;
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 50%;
            width: 8px;
            height: 14px;
            transform: translate(-50%, -50%) rotate(90deg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: fill 0.3s;
        }

        &:hover {
            background-color: #111;
            color: #fff;

            svg {
                fill: #fff;
            }
        }

        &--more {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 58px;
            color: #111;
            width: 60px;
            border: 1px solid #111;

            &.active {
                font-size: 0;

                svg {
                    display: block;
                }
            }
        }     
    }

    &-dropdown {
        display: none;
        position: absolute;
        left: -20px;
        top: calc(100% - 8px);
        width: calc(100% - 0px);
        padding: 20px;
        padding-top: 8px;
        padding-right: 8px;
        flex-wrap: wrap;
        border: 1px solid rgba(163, 157, 148, 0.3);
        border-top: none;
        z-index: 10;
        background-color: #fff;

        .g-tabs__item {
            margin-top: 10px;
        }
    }
}