.g-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;

    @media (max-width: 1240px) {
        margin-bottom: 24px;
    }

    &.active {
        margin-bottom: 10px;
        .simplebar-content {
            flex-wrap: wrap;
        }
        .simplebar-placeholder {
            margin-bottom: 0;
        }
    }

    .simplebar-content {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-bottom: 10px;

        &--hidden {
            display: none;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__btn {
        white-space: nowrap;
        display: block;
        color: rgba(#000, 0.5);
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid rgba(#000, 0.5);
        padding: 7.5px 17px 3.5px 14px;
        line-height: 16.4px;
        font-weight: 400;
        border-radius: 73px;
        transition: background-color 0.3s, color 0.3s, border 0.3s;

        svg {
            display: none;
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 50%;
            width: 8px;
            height: 14px;
            transform: translate(-50%, -50%) rotate(90deg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: fill 0.3s;
        }

        @include hover {
            border: 1px solid currentColor;
            color: #111;
        }

        &--more {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 58px;
            color: #111;
            border: 1px solid #111;

            @include hover {
                background-color: #111;
                border: 1px solid #111;
                color: #fff;

                svg {
                    fill: #fff;
                }
            }

            &.active {
                font-size: 0;

                svg {
                    display: block;
                }
            }
        }
    }
}