.footer {
    &__container {
        padding-top: 67px;
        padding-bottom: 46px;
        border-top: 1px solid #111;

        @media (max-width: 576px) {
            padding-top: 35px;
            padding-bottom: 24px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        @media (max-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 40px;
        }

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        position: relative;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        margin-bottom: 21px;

        &.active {
            svg {
                transform: rotate(90deg);
            }
        }

        &--2 {
            display: none;
        }

        svg {
            display: none;
            position: absolute;
            top: 0;
            right: -43px;
            width: 8px;
            height: 14px;
            transform: rotate(-90deg);
            transition: transform 0.3s;
        }

        @media (max-width: 576px) {
            display: inline-block;
            text-align: center;

            svg {
                display: block;
            }

            &--2 {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                
                svg {
                    right: -20px;
                }
            }
        }
    }

    &__col {
        &:not(:last-child) {
            @media (max-width: 768px) {
                margin-right: 40px;
            }

            @media (max-width: 576px) {
                margin-right: 0;
            }
        }
        @media (max-width: 576px) {
            text-align: center;
        }
    }

    &-menu {

        @media (max-width: 576px) {
            max-height: 0;
            overflow: hidden;
            will-change: max-height;
            transition: max-height 0.3s;
            &.active {
                max-height: 1000px;
            }
        }

        &__item {
            
            @media (max-width: 576px) {
                margin-bottom: 20px;
            }
            &:not(:last-child) {
                margin-bottom: 13px;
                @media (max-width: 576px) {
                    margin-bottom: 20px;
                }
            }
            &--2 {
                &:not(:last-child) {
                    margin-bottom: 17px;
                    @media (max-width: 576px) {
                        margin-bottom: 20px;
                    }
                }
            }

            &--hidden {
                display: none;
                @media (max-width: 576px) {
                    display: block;
                }
            }
        }

        &__link {
            font-size: 10px;
            line-height: 10px;
            text-transform: uppercase;
            color: #111;
            font-family: "HeliosExt", sans-serif;
            transition: color 0.2s;

            @media (max-width: 576px) {
                display: block;
                text-align: center;
                font-size: 12px;
                line-height: 12px;
            }

            &--2 {
                font-size: 12px;
                line-height: 12px;
                color: rgba(#000, 0.5);

                @media (min-width: 1025px) {
                    &:hover {
                        color: #111;
                    }
                }

                @media (max-width: 576px) {
                    text-align: center;
                    font-size: 12px;
                    line-height: 12px;
                    color: #111;
                }
            }
        }
    }

    &__tell {
        margin-bottom: 29px;
        .tell__desc {
            margin-bottom: 3px;
        }
        .tell__value {
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 10px;
        }

        .tell__caption {
            @media (max-width: 576px) {
                padding: 10px 0 7px;
                width: 100%;
            }
        }
    }

    &-contacts {
        @media (max-width: 1024px) {
            grid-column: 3 span;
            margin-top: 40px;
        }

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 10px;
            text-align: center;
        }
        &__desc {
            font-size: 16px;
            line-height: 16px;
            color: #111;
        }
    }

    &-social {

        @media (max-width: 576px) {
            order: -1;
        }

        &__list {
            display: flex;
            align-items: center;
            margin-bottom: 26px;
            padding-left: 3px;
            @media (max-width: 576px) {
                justify-content: center;
            }
        }

        &__title {
            display: block;
            margin-bottom: 11px;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        &__link {
            display: block;
            width: 24px;
            height: 24px;
            &:hover {
                svg {
                    fill: rgba(#111, 0.5);
                }
            }

            svg {
                transition: fill 0.3s;
                fill: rgba(#111, 0.7);
            }
        }
    }

    &__address {
        display: block;
        line-height: 23px;
        margin-bottom: 12px;
    }

    &__copy {
        display: block;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px;
        color: rgba(#000, 0.5);
        font-weight: 400;

        @media (max-width: 576px) {
            text-align: center;
        }
    }

    &__desc {
        max-width: 854px;
        margin: 0;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: rgba(#000, 0.5);

        @media (max-width: 576px) {
            text-align: center;
        }
    }
}