footer.footer
    .container.footer__container
        .footer__top
            .footer__col
                h2.g-title.footer__title 
                    |КАТАЛОГ
                    +icon("arrow")
                ul.footer-menu.list-reset
                    li.footer-menu__item
                        a.footer-menu__link(href="#") коллекции
                    li.footer-menu__item
                        a.footer-menu__link(href="#") украшения
                    li.footer-menu__item
                        a.footer-menu__link(href="#") часы
                    li.footer-menu__item
                        a.footer-menu__link(href="#") эксклюзив
                    li.footer-menu__item
                        a.footer-menu__link(href="#") культовые изделия
                    li.footer-menu__item
                        a.footer-menu__link(href="#") столовое серебро
                    li.footer-menu__item
                        a.footer-menu__link(href="#") предметы интерьера
                    li.footer-menu__item
                        a.footer-menu__link(href="#") акции
            .footer__col
                h2.g-title.footer__title.footer__title--2 
                    |КАРТА САЙТА
                    +icon("arrow")
                ul.footer-menu.list-reset
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") Доставка и самовывоз
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") оплата
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") гарантия
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") Вопросы и ответы
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") услуги
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") блог
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") правила продажи
                    
                    li.footer-menu__item.footer-menu__item--2.footer-menu__item--hidden
                        a.footer-menu__link.footer-menu__link--2(href="#") о компании
                    li.footer-menu__item.footer-menu__item--2.footer-menu__item--hidden
                        a.footer-menu__link.footer-menu__link--2(href="#") новости
                    li.footer-menu__item.footer-menu__item--2.footer-menu__item--hidden
                        a.footer-menu__link.footer-menu__link--2(href="#") контакты
                    li.footer-menu__item.footer-menu__item--2.footer-menu__item--hidden
                        a.footer-menu__link.footer-menu__link--2(href="#") Пользовательское соглашение
            .footer__col
                ul.footer-menu.list-reset
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") о компании
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") новости
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") контакты
                    li.footer-menu__item.footer-menu__item--2
                        a.footer-menu__link.footer-menu__link--2(href="#") Пользовательское соглашение
            .footer-contacts
                .tel.footer__tel
                    span.tel__desc.footer-contacts__desc Звоните бесплатно по России
                    a.tel__value(href="tel:88005553298") 8 (800) 555-32-98
                    span.tel__desc.footer-contacts__desc Пн-Пт 10:00-20:00, Сб,Вс 10:00-17:00
                    span.tel__caption 31 декабря и 1 января с 12:00 до 18:00
                .footer-social
                    span.footer-contacts__desc.footer-social__title Наши сообщества
                    ul.footer-social__list.list-reset
                        li.footer-social__item
                            a.footer-social__link(href="#")
                                +icon("telegram")
                        li.footer-social__item
                            a.footer-social__link(href="#")
                                +icon("instagram")
                        li.footer-social__item
                            a.footer-social__link(href="#")
                                +icon("vk")
                        li.footer-social__item
                            a.footer-social__link(href="#")
                                +icon("facebook")
                address.footer-contacts__desc.footer__address Санкт-Петербург, пл. Фаберже, 8
                a.footer__desc.footer__tel--2(href="#") +7 (812) 448-65-88
                a.footer-contacts__desc(href="mailto:market@russam.ru") market@russam.ru
        span.footer__copy 2020 © Русские самоцветы
        p.footer__desc Предложение не является публичной офертой. Цены на сайте и в розничной сети могут отличаться. Информация на сайте о товаре носит рекламный характер и расценивается как приглашение делать оферты на основании п.1 ст. 437 Гражданского кодекса РФ.