.modal
    .modal__container(role="dialog" aria-modal="true" data-graph-target="price-request")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title Запрос цены
            p.modal__desc.modal__desc--center Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;течение 30&nbsp;мин и&nbsp;сообщим стоимость и&nbsp;условия заказа&nbsp;товара.

            form.modal-form.validate-form(action="#")
                input.g-input.modal-form__input(type="tel" name="phoneNumber" placeholder="Введите телефон")
                button.btn-reset.g-btn.g-btn--black.modal-form__btn оставить заявку
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я согласен на обработку персональных данных *в рабочее время
    .modal__container.modal__container--2(role="dialog" aria-modal="true" data-graph-target="why-price")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title ПОЧЕМУ <br>НЕТОЧНАЯ ЦЕНА?
            p.modal__desc.modal__desc--center Цена изделия может значительно варьироваться в&nbsp;зависимости от&nbsp;веса готового изделия, характеристик вставок (цвета, чистоты и&nbsp;качества огранки), а&nbsp;также от&nbsp;общего каратного веса драгоценных камней.
    .modal__container(role="dialog" aria-modal="true" data-graph-target="order-product")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title Заявка на изделие под заказ
            p.modal__desc.modal__desc--center Оставьте заявку на&nbsp;консультацию с&nbsp;экспертом, мы&nbsp;перезвоним в&nbsp;течение 30&nbsp;минут*

            form.modal-form.validate-form(action="#")
                input.g-input.modal-form__input(type="tel" name="phoneNumber" placeholder="Введите телефон")
                button.btn-reset.g-btn.g-btn--black.modal-form__btn оставить заявку
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я согласен на обработку персональных данных *в рабочее время
    .modal__container.modal__container--2(role="dialog" aria-modal="true" data-graph-target="order-my-size")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title Заказать изделие по&nbsp;моему&nbsp;размеру
            h3.g-title.g-title--center.modal__subtitle Изготовим изделие <br> по вашему размеру 
                span за&nbsp;7-45&nbsp;дней
            p.modal__desc.modal__desc--center Оставьте заявку на консультацию <br> с экспертом, мы перезвоним <br> в течение 30 минут*

            form.modal-form.validate-form(action="#")
                input.g-input.modal-form__input(type="tel" name="phoneNumber" placeholder="Введите телефон")
                button.btn-reset.g-btn.g-btn--black.modal-form__btn оставить заявку
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я согласен на обработку персональных данных *в рабочее время
    .modal__container.modal__container--2(role="dialog" aria-modal="true" data-graph-target="use-promocode")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title Как использовать промокод?
            p.modal__desc.modal__desc--2.modal__desc--center Укажите полученный промокод <br> при оформлении заказа и&nbsp;
                span получите СКИДКУ 5%. 
                | Или сообщите промокод менеджеру.

            p.modal__desc.modal__desc--2.modal__desc--center Скидка закрепляется за вашим номером <br> телефона и действует 14 дней.

            p.modal__desc.modal__desc--2.modal__desc--gray.modal__desc--center Скидка действует 
                span только при покупке on-line 
                | в&nbsp;интернет-галерее «Русские самоцветы».
    .modal__container.modal__container--3(role="dialog" aria-modal="true" data-graph-target="reduce-price")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title Снизьте цену на <br> товар за 1 минуту
            h3.g-title.g-title--center.modal__subtitle Получите промокод на 
                span скидку 5%
            p.modal__desc.modal__desc--center Отправим промокод SMS-сообщением в&nbsp;течение 1&nbsp;минуты. Промокод закрепляется за&nbsp;вашим номером телефона и&nbsp;действует 14&nbsp;дней<br>
                span только при покупке on-line

            form.modal-form.validate-form(action="#")
                input.g-input.modal-form__input(type="tel" name="phoneNumber" placeholder="Введите телефон")
                button.btn-reset.g-btn.g-btn--black.modal-form__btn ПОЛУЧИТЬ ПОМОКОД
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я согласен на обработку персональных данных
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я даю согласие на sms-рассылку
    .modal__container.modal__container--4(role="dialog" aria-modal="true" data-graph-target="found-out-size")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title Как узнать размер?
            p.modal__desc.modal__desc--center Обмотайте нужный палец ниткой, шнурком или бумажной лентой в самом толстом месте.
            img.lozad.modal__image(src="img/found-out-size.jpg", srcset="img/found-out-size@2x.jpg 2x" alt="Как узнать размер?")
            p.modal__desc.modal__desc--center Линейкой замерьте полученную длину
            form.modal-form.validate-form(action="#")
                label.modal-form__item
                    span.modal-form__caption Введите результат измерений в миллиметрах
                    input.g-input.modal-form__input(type="text" name="value" placeholder="ВВЕДИТЕ ПОЛУЧЕННОЕ ЗНАЧЕНИЕ")
                button.btn-reset.g-btn.g-btn--black.modal-form__btn расчитать
            h2.g-title.g-title--center.modal__title.modal__title--md НУЖНЫЙ ВАМ РАЗМЕР 19
    .modal__container.modal__container--5(role="dialog" aria-modal="true" data-graph-target="reserve")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content.g-filters
            h2.g-title.g-title--center.modal__title ВЫБЕРИТЕ РАЗМЕР
            select.g-select(name="selected size")
                option(value="") Выберите размер
                option(value="size-1") 15
                option(value="size-2") 15.5
                option(value="size-3") 16
                option(value="size-4") 16.5
                option(value="size-5") 17
                option(value="size-6") 17.5
                option(value="size-9") 18
                option(value="size-10") 15
                option(value="size-11") 15.5
                option(value="size-12") 16
                option(value="size-13") 16.5
                option(value="size-14") 17
                option(value="size-15") 17.5
                option(value="size-16") 18
            p.modal__desc.modal__desc--sm.modal__desc--center Изделие 15 размера есть в 5 магазинах
            ul.g-filters__list.modal-filters.list-reset
                li.g-filters__item
                    button.btn-reset.g-filters__btn.g-filters__btn--active(data-filters-path="list") Списком
                li.g-filters__item
                    button.btn-reset.g-filters__btn(data-filters-path="map") На карте
            
            .g-filters__content.list-reserve__items.modal-filters__content.g-filters__content--active(data-filters-target="list" data-simplebar)
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
                .list-reserve__item
                    img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                        .list-reserve__info.read-more-wrapper
                            span.list-reserve__price Цена изделия: 
                                span 77,975 ₽
                            .insert-product.full-text
                                .insert-product__item
                                    span.insert-product__title Размер:
                                    .insert-product__right
                                        span.insert-product__caption 15 мм
                                .insert-product__item
                                    span.insert-product__title Вставка:
                                    .insert-product__right
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--green
                                            span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                        .insert-product__content
                                            .insert-product__color.insert-product__color--black
                                            span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                            button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--stroke.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
            .g-filters__content.modal-filters__content.map-reserve(data-filters-target="map")
                .modal-map
                    .modal-map__item
                
                .list-reserve__item.map-reserve__item
                    img.list-reserve__image.lozad(src="img/location.jpg", srcset="img/location@2x.jpg 2x" alt="")
                    .list-reserve__content
                        .list-reserve__text
                            p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                            span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                            a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                            span.list-reserve__metro
                                +icon("metro")
                                span Ленинский пр.
                    .list-reserve__info.read-more-wrapper
                        span.list-reserve__price Цена изделия: 
                            span 77,975 ₽
                        .insert-product.full-text
                            .insert-product__item
                                span.insert-product__title Размер:
                                .insert-product__right
                                    span.insert-product__caption 15 мм
                            .insert-product__item
                                span.insert-product__title Вставка:
                                .insert-product__right
                                    .insert-product__content
                                        .insert-product__color.insert-product__color--green
                                        span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                    .insert-product__content
                                        .insert-product__color.insert-product__color--black
                                        span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                        button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть
                        button.btn-reset.g-btn.g-btn--black.list-reserve__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="make-reserve" data-graph-speed="500") оформить резерв
    
    .modal__container.modal__container--6(role="dialog" aria-modal="true" data-graph-target="make-reserve")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        button.btn-reset.modal__back.modal-btn(data-graph-animation="fadeInUp" data-graph-path="reserve" data-graph-speed="500")
            |Назад
            +icon("back")
        .modal-content
            h2.g-title.g-title--center.modal__title.modal__title--2 Оформить резерв
            p.modal__desc.modal__desc--sm.modal__desc--center Срок резерва — 2 дня

            .reserve__content
                .reserve__item
                    span.reserve__caption Адрес пункта выдачи:
                    .list-reserve__item
                        img.list-reserve__image(src="img/list-reserve-1.jpg", alt="")
                        .list-reserve__content
                            .list-reserve__text
                                p.modal__desc.list-reserve__street ул. Дзержинского, 35/3
                                span.list-reserve__hours Пн-Пт 10:00-20:00, Сб,Вс 10:00-18:00
                                a.modal__desc.modal__desc--sm.list-reserve__tel(href="#") +7 (812) 777-78-61 
                                span.list-reserve__metro
                                    +icon("metro")
                                    span Ленинский пр.
                .reserve__item
                    span.reserve__caption Информация о товаре:
                    .mini-product
                        img.mini-product__image(src="img/card-1.jpg", alt="")
                        .mini-product__right
                            span.mini-product__name-collection NIGHTSHADE
                            h2.g-title.mini-product__title Кольцо с турмалином и&nbsp;бриллиантами
                            span.mini-product__price Цена изделия:
                                span 77 975 ₽
                            .read-more-wrapper
                                .insert-product.full-text
                                    .insert-product__item
                                        span.insert-product__title Размер:
                                        .insert-product__right
                                            span.insert-product__caption 15 мм
                                    .insert-product__item
                                        span.insert-product__title Вставка:
                                        .insert-product__right
                                            .insert-product__content
                                                .insert-product__color.insert-product__color--green
                                                span.insert-product__caption Турмалин — 1, огранка «Октагон», 0.16 crt.
                                            .insert-product__content
                                                .insert-product__color.insert-product__color--black
                                                span.insert-product__caption Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                                button.btn-reset.g-link.read-more.list-reserve__more(data-text="Развернуть") Развернуть

            form.modal-form.validate-form.reserve__form(action="#")
                input.g-input.modal-form__input(type="tel" name="phoneNumber" placeholder="Введите телефон")
                button.btn-reset.g-btn.g-btn--black.modal-form__btn оставить заявку
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я согласен на обработку персональных данных
    .modal__container(role="dialog" aria-modal="true" data-graph-target="modal-order")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title.modal-order__title ОФОРМЛЕНИЕ ЗАКАЗА
            p.modal__desc.modal__desc--center Заполните форму, и&nbsp;мы&nbsp;свяжемся с&nbsp;вами для&nbsp;уточнения деталей заказа

            form.modal-form.validate-form(action="#")
                input.g-input.modal-form__input(type="tel" name="phoneNumber" placeholder="Введите телефон")
                a.btn-reset.modal__link.modal__promocode Ввести промокод
                button.btn-reset.g-btn.g-btn--black.modal-form__btn Оформить заказ
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я согласен на обработку персональных данных
    .modal__container.modal__container--3(role="dialog" aria-modal="true" data-graph-target="tel-order")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title Оформим заказ <br> по телефону
            p.modal__desc.modal__desc--center Заполните форму, и мы свяжемся с вами для уточнения деталей заказа

            form.modal-form.validate-form(action="#")
                input.g-input.modal-form__input(type="tel" name="phoneNumber" placeholder="Введите телефон")
                button.btn-reset.g-btn.g-btn--black.modal-form__btn оформить быстрый заказ
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я согласен на обработку персональных данных
            .modal-tel
                p.modal-tel__desc Вы можете связаться с нами по телефону
                a.modal-tel__value(href="tel:88005553298") 8 (800) 555-32-98
    .modal__container.modal__container--7(role="dialog" aria-modal="true" data-graph-target="delete-product")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title.modal__title--light Подтвердите действие
            p.modal__desc.modal__desc--center Вы уверены, что хотите удалить этот&nbsp;товар?
            .modal__btns
                button.btn-reset.g-btn.g-btn--black.modal-form__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="product-deleted" data-graph-speed="500") Да, удалить
                button.btn-reset.g-btn.g-btn--stroke.modal-form__btn.js-modal-close Нет, оставить
    .modal__container(role="dialog" aria-modal="true" data-graph-target="edit-phone")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title.modal__title--light ИЗМЕНИТЬ ТЕЛЕФОН
            p.modal__desc.modal__desc--center На указанный телефон придет СМС&nbsp;уведомление

            form.modal-form.validate-form(action="#")
                input.g-input.modal-form__input(type="tel" name="phoneNumber" placeholder="Введите телефон")
                button.btn-reset.g-btn.g-btn--black.modal-form__btn Сохранить изменения 
                label.modal-form__label
                    input.modal-form__checkbox(type="checkbox" checked)
                    span.modal-form__switch
                    span.modal-form__desc Я согласен на обработку персональных данных
                        span *в рабочее время
                span.modal-form__desc.modal-form__desc--2 *в рабочее время
    .modal__container.modal__container--7(role="dialog" aria-modal="true" data-graph-target="cancel-order")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title.modal__title--light отменить Заказ №&nbsp;3001921
            p.modal__desc.modal__desc--center Вы уверены, что хотите отменить заказ?
            .modal__btns
                button.btn-reset.g-btn.g-btn--black.modal-form__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-cancelled" data-graph-speed="500") Да, удалить
                button.btn-reset.g-btn.g-btn--stroke.modal-form__btn.js-modal-close Нет, оставить
    .modal__container.modal__container--2(role="dialog" aria-modal="true" data-graph-target="order-cancelled")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            h2.g-title.g-title--center.modal__title.modal__title--light Заказ № 3001921
            p.modal__desc.modal__desc--center Заказ будет отменен после подтверждения менеджером.
    .modal__container.modal__container--8(role="dialog" aria-modal="true" data-graph-target="product-deleted")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            p.modal__desc.modal__desc--center Кольцо из золота с изумрудом и бриллиантами, удалено.
    .modal__container.modal__container--8(role="dialog" aria-modal="true" data-graph-target="bonus")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            p.modal__desc.modal__desc--center Бонусная программа <br> будет доступна позже
    .modal__container.modal__container--8(role="dialog" aria-modal="true" data-graph-target="birthday")
        button.btn-reset.modal__close.js-modal-close(aria-label="Закрыть модальное окно")
            +icon("cross2")
        .modal-content
            p.modal__desc.modal__desc--center Дату рождения можно указать только один раз. Если вы хотите изменить дату обратитесь в службу поддержки