.modal {
    --transition-time: 0.3s;
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity var(--transition-time), visibility var(--transition-time);
    background-color: rgba(#000, 0.5);
    cursor: pointer;
    overflow-y: auto;
    text-align: center;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;

    &__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
        font-weight: 400;
        cursor: text;

        &--md {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
        }

        @media (max-width: 576px) {
            font-family: "HeliosExt", sans-serif;
            font-weight: 400;
        }
    }

    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
        text-transform: initial;
        font-family: "HeliosExtLight", sans-serif;
        cursor: text;
        font-weight: 300;

        span {
            font-family: "HeliosExt", sans-serif;
            font-weight: 400;
        }
    }

    &__desc {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 23px;
        cursor: text;
        color: #111;

        span {
            font-weight: 500;
            color: #111;
        }

        &--2 {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &--center {
            text-align: center;
        }

        &--gray {
            color: rgba(#000, 0.5);
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        max-width: 296px;
        margin: 0 auto;

        &__input {
            margin-bottom: 15px;
        }

        &__btn {
            padding: 15.5px 0 13.5px;
            margin-bottom: 35px;
        }

        &__desc {
            color: rgba(#000, 0.5);
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }

        &__label {
            display: flex;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &__checkbox {
            position: absolute;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: pointer;
            outline: none;

            &:checked~.modal-form__switch:after {
                opacity: 1;
                visibility: visible;
            }
        }

        &__switch {
            flex-shrink: 0;
            position: relative;
            width: 14px;
            height: 14px;
            margin-right: 14px;
            border: 1px solid #111;
            transition: background-color 0.3s, border 0.3s;
            &:after {
                @include pseudo();
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(../img/svg/checked.svg);
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__caption {
            font-size: 14px;
            line-height: 20px;
            width: 100%;
            color: rgba(#000, 0.5);
        }
    }

    &__image {
        display: block;
        width: 192px;
        height: 192px;
        margin: 0 auto 24px;
        object-fit: cover;
        border: 1px solid rgba(#000, 0.5);
    }
}

.modal::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.modal__container {
    display: none;
    position: relative;
    width: 296px;
    margin: 50px auto;
    padding: 63px 74px 40px 74px;
    vertical-align: middle;
    background-color: #fff;
    cursor: default;
    text-align: left;

    @media (max-width: 576px) {
        width: 75%;
        padding: 50px 25px 40px 25px;
    }

    &--2 {
        width: 376px;
        padding: 63px 34px 48px 34px;

        @media (max-width: 576px) {
            padding: 40px 20px 15px;
        }
    }

    &--3 {
        width: 376px;
        padding: 63px 30px 36px 30px;
    }

    &--4 {
        width: 334px;
        padding: 63px 55px 40px 55px;
    }

    &.modal-open {
        display: inline-block;
    }
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;

    svg {
        fill: rgba(#000, 0.5);
    }

    &:hover {
        transform: rotate(90deg);
    }
}

.modal.is-open {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time), visibility var(--transition-time);
}

.fade {
    opacity: 0;
    transition: opacity var(--transition-time);
}

.fade.animate-open {
    opacity: 1;
    transition: opacity var(--transition-time);
}

.fadeInUp {
    opacity: 0;
    transform: translateY(-100px);
    transition: transform var(--transition-time), opacity var(--transition-time);
}

.fadeInUp.animate-open {
    opacity: 1;
    transform: translateY(0);
    transition: transform var(--transition-time), opacity var(--transition-time);
}

.js-validate-error-label {
    display: none;
}