section.info
    .container.info__container
        h2.g-title.info__title оФИЦИАЛЬНЫЙ САЙТ ЮВЕЛИРНЫХ ИЗДЕЛИЙ русские самоцветы
        p.info__desc.full-text Интернет-галерея «Русские самоцветы» — уникальная онлайн-площадка, где представлена продукция собственного ювелирного завода. Официальный сайт ювелирного магазина содержит каталог украшений. В каталоге из более 4000 ювелирных изделий собраны украшения непревзойденного качества, которое гарантирует производитель из числа лидеров отрасли. Для каждого товара представлены не только качественные фотографии и видеоматериалы, но и <br> максимум полезной информации, которая помогает сделать выбор еще более комфортным, чем в салоне. Примерить украшения или посмотреть <br> Источник: © Русские Самоцветы
        a.g-link.info__link(href="#") Читать дальше
        button.btn-reset.g-link.read-more.info__more Читать дальше