.info {
    &__container {
        padding-top: 79px;
        padding-bottom: 88px;
    }

    &__title {
        max-width: 800px;
        margin-bottom: 17px;
    }

    &__desc {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 21px;
    }
}