html {
    box-sizing: border-box;
}

*, *:after *:before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    background-color: #fff;
    font-family: "TTCommons", sans-serif;
    font-weight: 300;
    font-size: 12px;

    @media (max-width: 1024px) {
        padding-bottom: 50px;
    }
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.site-container {
    overflow: hidden;
    min-height: 100vh;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.lock {
    overflow: hidden;
}

.container {
    max-width: 1324px;
    box-sizing: content-box;
    padding: 0 10px;
    margin: 0 auto;
}
.is-open {
    opacity: 1;
    visibility: visible;
}

.svg-icon {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

label.error {
    display: none !important;
}