section.discount.read-more-wrapper
    .container.discount__container
        ul.g-breadcrumbs__list.discount__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="discounts.html") Акции
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link Скидка 10% ко дню рождения
        h2.g-title.g-title--center.discount__dates с 01.08.2020 до 31.12.2020
        h1.g-title.g-title--center.discount__title Скидка 10% ко дню рождения
        p.discount__desc До окончания акции осталось
        +countdown("discount__countdown")
        .discount-text.full-text
            p В аристократических домах принято дарить гладкое столовое серебро как знак безупречного вкуса, внимания и уважения, как пожелание богатства и процветания. <br>
            p С 3 по 31 октября 2020 года в интернет-галерее "Русские самоцветы" на гладкое столовое серебро действует СКИДКА до 20%!
            p В аристократических домах принято дарить гладкое столовое серебро как знак безупречного вкуса, внимания и уважения, как пожелание богатства и процветания. <br>
            p С 3 по 31 октября 2020 года в интернет-галерее "Русские самоцветы" на гладкое столовое серебро действует СКИДКА до 20%!
            p В аристократических домах принято дарить гладкое столовое серебро как знак безупречного вкуса, внимания и уважения, как пожелание богатства и процветания. <br>
            p С 3 по 31 октября 2020 года в интернет-галерее "Русские самоцветы" на гладкое столовое серебро действует СКИДКА до 20%!
        button.btn-reset.g-link.read-more.discount-text__more(data-text="Развернуть") Развернуть
        p.discount-social__desc.discount__desc Поделиться в социальных сетях
        ul.discount-social__list.list-reset
            li.discount-social__item
                a.discount-social__link(href="#")
                    +icon("telegram")
            li.discount-social__item
                a.discount-social__link(href="#")
                    +icon("instagram")
            li.discount-social__item
                a.discount-social__link(href="#")
                    +icon("vk")
            li.discount-social__item
                a.discount-social__link(href="#")
                    +icon("facebook")
        p.discounted-products__desc Акция действует с 3 по 31 октября 2020 г. в интернет-галерее "Русские самоцветы" www.market.russam.ru Скидка 10% распространяется на гладкое столовое серебро. <br> Акция суммируется со скидкой по дисконтной карте. Акция не суммируется с другими скидками и спецпредложениями, включая скидки в День рождения. <br> Акция не действует на товары с фиксированной ценой. Акция не действует на эмалево-филигранную посуду. Акция не действует на эксклюзивные изделия.