section.service
    .container.service__container
        ul.g-breadcrumbs__list.service__breadcrumbs.list-reset
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="/") Главная
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link(href="services.html") Услуги
            li.g-breadcrumbs__item
                a.g-breadcrumbs__link Подарочная упаковка
        h1.g-title.g-title--center.service__title Подарочная упаковка
        img.service__image.lozad(src="img/service-1.jpg" srcset="img/service-1@2x.jpg 2x", alt="Подарочная упаковка")
        h2.g-title.g-title--center.service__subtitle Получить ювелирный подарок в роскошной, со вкусом подобранной упаковке, которая не будет притягивать на себя много внимания, но дополнит драгоценное содержимое, вдвойне приятно.
        p.service__desc Мы предлагаем индивидуальный подбор подарочной упаковки для Вашего подарка, который подчеркнет его ценность и значимость, статус и достоинство. Вы можете выбрать как цвет упаковки, так и материал, наиболее подходящий для ее содержимого. Мы готовы предложить достойную, качественную подарочную упаковку как штучных колец, так и целых наборов столовых приборов. Различные варианты классических упаковок для ювелирных изделий не только дополнят выбранный подарок, но и помогут правильно хранить его.