.service {

    &__container {
        padding-top: 34px;
        padding-bottom: 88px;

        @media (max-width: 1024px) {
            padding-bottom: 60px;
        }

        /* @media (max-width: 576px) {
            padding-bottom: 30px;
        } */
    }

    &__breadcrumbs {
        padding-bottom: 24px;
    }

    &__title {
        font-family: "HeliosExtLight", sans-serif;
        font-weight: 300;
        margin-bottom: 64px;

        @media (max-width: 576px) {
            margin-bottom: 36px;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 80px;
        height: 464px;

        @media (max-width: 768px) {
            height: 350px;
            margin-bottom: 60px;
        }

        @media (max-width: 576px) {
            height: 250px;
            margin-bottom: 44px;
        }
    }

    &__subtitle {
        font-family: "HeliosExtLight", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #111;
        margin-bottom: 32px;
        max-width: 908px;
        
        @media (max-width: 576px) {
            margin-bottom: 24px;
        }
    }

    &__desc {
        max-width: 908px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 24px;
        color: #111;

        @media (max-width: 576px) {
            text-align: center;
            font-size: 14px;
            line-height: 18px;
        }
    }
}